<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BannerAltText</key>
				<string>Lander theme</string>
				<key>BrowserTitle</key>
				<string>Sitemap</string>
				<key>CreatedDate</key>
				<date>2016-04-04T12:37:20Z</date>
				<key>CustomThemeName</key>
				<string>Lander</string>
				<key>ID</key>
				<string>page5</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Sitemap </string>
				<key>PluginClassName</key>
				<string>RMSitemapPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Sitemap</string>
					<key>Version</key>
					<string>7.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>file:///Users/codebuddha/GitHub/news-of-the-galaxy/www/</key>
					<dict>
						<key>CreationDate</key>
						<date>2017-11-04T16:58:04Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>apple-touch-icon.png</key>
							<dict>
								<key>Digest</key>
								<data>
								/+NW5WgZswrn
								gOub16I2+A==
								</data>
								<key>Size</key>
								<integer>22488</integer>
							</dict>
							<key>favicon.ico</key>
							<dict>
								<key>Digest</key>
								<data>
								26Hz6mn0MBiG
								B8kIveoDEA==
								</data>
								<key>Size</key>
								<integer>1150</integer>
							</dict>
							<key>rw_common/images/notg_banner.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								C+e6jxFNyj6l
								95gF+K0QlQ==
								</data>
								<key>Size</key>
								<integer>448480</integer>
							</dict>
							<key>rw_common/images/stormtrooper.png</key>
							<dict>
								<key>Digest</key>
								<data>
								/+NW5WgZswrn
								gOub16I2+A==
								</data>
								<key>Size</key>
								<integer>22488</integer>
							</dict>
							<key>rw_common/version.txt</key>
							<dict>
								<key>Digest</key>
								<data>
								a0XPRnqciAAR
								Wagm6Sx0Nw==
								</data>
								<key>Size</key>
								<integer>5</integer>
							</dict>
							<key>sitemap.html</key>
							<dict>
								<key>Digest</key>
								<data>
								MtyLZEPZvWqJ
								D9hYQxU9vA==
								</data>
								<key>Size</key>
								<integer>8072</integer>
							</dict>
							<key>sitemap.xml</key>
							<dict>
								<key>Digest</key>
								<data>
								HxcH0CY/dK8R
								K4IJUPgT4Q==
								</data>
								<key>Size</key>
								<integer>9359</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page5</string>
						<key>SiteRoot</key>
						<string></string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array>
				<string>Data.archive</string>
			</array>
			<key>Subsandwiches</key>
			<array>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
