<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Contact Us</string>
				<key>CreatedDate</key>
				<date>2017-03-24T15:55:23Z</date>
				<key>ID</key>
				<string>page7</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Contact Us</string>
				<key>PluginClassName</key>
				<string>RWHTMLPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>HTML Code</string>
					<key>Version</key>
					<string>7.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>file:///Users/codebuddha/GitHub/news-of-the-galaxy/www/</key>
					<dict>
						<key>CreationDate</key>
						<date>2018-01-06T23:27:03Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>contact.html</key>
							<dict>
								<key>Digest</key>
								<data>
								YoX8awE6zpp4
								Hx2gxwbzNg==
								</data>
								<key>Size</key>
								<integer>8932</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page7</string>
						<key>SiteRoot</key>
						<string></string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
