<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BannerAltText</key>
				<string>Lander theme</string>
				<key>BrowserTitle</key>
				<string>Podcasts Holocron</string>
				<key>CreatedDate</key>
				<date>2016-04-04T12:37:20Z</date>
				<key>CustomThemeName</key>
				<string>Lander</string>
				<key>ID</key>
				<string>page2</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Blogok</string>
				<key>PageTitle</key>
				<string>Holocron</string>
				<key>PluginClassName</key>
				<string>RWBlogPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Blog</string>
					<key>Version</key>
					<string>7.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>file:///Users/codebuddha/GitHub/news-of-the-galaxy/www/</key>
					<dict>
						<key>CreationDate</key>
						<date>2017-11-04T16:41:44Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>apple-touch-icon.png</key>
							<dict>
								<key>Digest</key>
								<data>
								/+NW5WgZswrn
								gOub16I2+A==
								</data>
								<key>Size</key>
								<integer>22488</integer>
							</dict>
							<key>favicon.ico</key>
							<dict>
								<key>Digest</key>
								<data>
								26Hz6mn0MBiG
								B8kIveoDEA==
								</data>
								<key>Size</key>
								<integer>1150</integer>
							</dict>
							<key>podcast.html</key>
							<dict>
								<key>Digest</key>
								<data>
								RGBVv1bWpqG2
								p5xO5Ar59g==
								</data>
								<key>Size</key>
								<integer>81445</integer>
							</dict>
							<key>podcast_files/2-Solos-1-Cup.html</key>
							<dict>
								<key>Digest</key>
								<data>
								Ya/F0T63Gve8
								lrVOojL6Bg==
								</data>
								<key>Size</key>
								<integer>20871</integer>
							</dict>
							<key>podcast_files/A-Bucket-of-Awesomeness.html</key>
							<dict>
								<key>Digest</key>
								<data>
								ZIbUX3Ch4gee
								tHQIKTFCbQ==
								</data>
								<key>Size</key>
								<integer>17359</integer>
							</dict>
							<key>podcast_files/C-(MP)3PO.html</key>
							<dict>
								<key>Digest</key>
								<data>
								G1zum+7rafkb
								2UdPjRGf4w==
								</data>
								<key>Size</key>
								<integer>16924</integer>
							</dict>
							<key>podcast_files/Captain-Kirk-is-a-Dirty-Word.html</key>
							<dict>
								<key>Digest</key>
								<data>
								5Ze1H3Vkq7a9
								6qDK61HFUw==
								</data>
								<key>Size</key>
								<integer>16480</integer>
							</dict>
							<key>podcast_files/Finger-Licking-Good.html</key>
							<dict>
								<key>Digest</key>
								<data>
								4LlyC5Z+f/J5
								oC33cxmmfw==
								</data>
								<key>Size</key>
								<integer>19088</integer>
							</dict>
							<key>podcast_files/Gorgonzola-King-of-the-Monsters.html</key>
							<dict>
								<key>Digest</key>
								<data>
								4I7br6bcYrGI
								PgvHMEaVKg==
								</data>
								<key>Size</key>
								<integer>18311</integer>
							</dict>
							<key>podcast_files/Keep-Spinning-You-Goofy-Death-Star.html</key>
							<dict>
								<key>Digest</key>
								<data>
								6wIlgdDFSYS7
								7nE8k1Gnuw==
								</data>
								<key>Size</key>
								<integer>17595</integer>
							</dict>
							<key>podcast_files/Lets-Rip-It-A-New-One.html</key>
							<dict>
								<key>Digest</key>
								<data>
								sGZ0sCzF68mS
								AnnOZkW06w==
								</data>
								<key>Size</key>
								<integer>18326</integer>
							</dict>
							<key>podcast_files/Looking-For-Love-In-Alderaan-Places.html</key>
							<dict>
								<key>Digest</key>
								<data>
								8qpWn9eUryEf
								v826sHXspA==
								</data>
								<key>Size</key>
								<integer>16193</integer>
							</dict>
							<key>podcast_files/News of the Galaxy.xml</key>
							<dict>
								<key>Digest</key>
								<data>
								3kLtCc5Uj4uX
								tkKyA2EKlQ==
								</data>
								<key>Size</key>
								<integer>35462</integer>
							</dict>
							<key>podcast_files/Not-Your-Daddys-Podcast.html</key>
							<dict>
								<key>Digest</key>
								<data>
								lDo1sELyj/rT
								nxteTaHp8Q==
								</data>
								<key>Size</key>
								<integer>19205</integer>
							</dict>
							<key>podcast_files/Palpatines-Sip-of-the-Week.html</key>
							<dict>
								<key>Digest</key>
								<data>
								yjNbV/AOReY8
								3QpO+5LxKQ==
								</data>
								<key>Size</key>
								<integer>19048</integer>
							</dict>
							<key>podcast_files/Porg-One-Out-For-Palpatine.html</key>
							<dict>
								<key>Digest</key>
								<data>
								bgEfblV9r7Qr
								mlfYZbVe3Q==
								</data>
								<key>Size</key>
								<integer>17440</integer>
							</dict>
							<key>podcast_files/Starring-Nick.html</key>
							<dict>
								<key>Digest</key>
								<data>
								EISp8VGRiVGd
								95bhA33qBQ==
								</data>
								<key>Size</key>
								<integer>18274</integer>
							</dict>
							<key>podcast_files/Starting-Fires.html</key>
							<dict>
								<key>Digest</key>
								<data>
								AtOU9shvYdnK
								J3a+2qd5Sw==
								</data>
								<key>Size</key>
								<integer>16157</integer>
							</dict>
							<key>podcast_files/The-Emperors-New-Robes.html</key>
							<dict>
								<key>Digest</key>
								<data>
								DbggG2qTMTvV
								ZVpcJZ34Qg==
								</data>
								<key>Size</key>
								<integer>17309</integer>
							</dict>
							<key>podcast_files/What-Did-Nick-Do-This-Time.html</key>
							<dict>
								<key>Digest</key>
								<data>
								HOb7I+Eknx9j
								86UvJ1G6TQ==
								</data>
								<key>Size</key>
								<integer>17710</integer>
							</dict>
							<key>podcast_files/archive-2016.html</key>
							<dict>
								<key>Digest</key>
								<data>
								It2x0mhu/m7m
								zspfWTQG0g==
								</data>
								<key>Size</key>
								<integer>34047</integer>
							</dict>
							<key>podcast_files/archive-2017.html</key>
							<dict>
								<key>Digest</key>
								<data>
								ZT+gftcvn/VX
								92qJ/NWzvQ==
								</data>
								<key>Size</key>
								<integer>58161</integer>
							</dict>
							<key>podcast_files/category-comedy.html</key>
							<dict>
								<key>Digest</key>
								<data>
								+t6YhUJ3vQgL
								0QCWup2Bbw==
								</data>
								<key>Size</key>
								<integer>74900</integer>
							</dict>
							<key>podcast_files/category-games-0026-hobbies.html</key>
							<dict>
								<key>Digest</key>
								<data>
								Cu9evw3VM1RC
								SQgUarzqEA==
								</data>
								<key>Size</key>
								<integer>74918</integer>
							</dict>
							<key>podcast_files/ep13-2.png</key>
							<dict>
								<key>Digest</key>
								<data>
								QhaztK+jjHcd
								vGWLCKN+Gg==
								</data>
								<key>Size</key>
								<integer>363447</integer>
							</dict>
							<key>podcast_files/meta.js</key>
							<dict>
								<key>Digest</key>
								<data>
								eg8L3C1lQhOG
								+g2k915hSg==
								</data>
								<key>Size</key>
								<integer>8313</integer>
							</dict>
							<key>podcast_files/podcast_channel.png</key>
							<dict>
								<key>Digest</key>
								<data>
								OR9Y7mAmpkqO
								E9GEekgUqA==
								</data>
								<key>Size</key>
								<integer>508073</integer>
							</dict>
							<key>podcast_files/tag-ahsoka.html</key>
							<dict>
								<key>Digest</key>
								<data>
								j4XXgagKfr4l
								FMo9H+ehag==
								</data>
								<key>Size</key>
								<integer>19279</integer>
							</dict>
							<key>podcast_files/tag-alderaan.html</key>
							<dict>
								<key>Digest</key>
								<data>
								0p5XAsDxBEa5
								iwzlpxaZdw==
								</data>
								<key>Size</key>
								<integer>16388</integer>
							</dict>
							<key>podcast_files/tag-amazon.html</key>
							<dict>
								<key>Digest</key>
								<data>
								beF0BeCIH3Su
								wUxR6ah82g==
								</data>
								<key>Size</key>
								<integer>17550</integer>
							</dict>
							<key>podcast_files/tag-asteroid-field.html</key>
							<dict>
								<key>Digest</key>
								<data>
								6zIwZrs338Dh
								1YJ1MHP3aw==
								</data>
								<key>Size</key>
								<integer>39946</integer>
							</dict>
							<key>podcast_files/tag-black-series.html</key>
							<dict>
								<key>Digest</key>
								<data>
								cZa8r9CaM6KB
								8+AGW371bQ==
								</data>
								<key>Size</key>
								<integer>17562</integer>
							</dict>
							<key>podcast_files/tag-books.html</key>
							<dict>
								<key>Digest</key>
								<data>
								0fdd13tDOMaB
								jiJNBMlhfw==
								</data>
								<key>Size</key>
								<integer>17113</integer>
							</dict>
							<key>podcast_files/tag-bounty-hunter.html</key>
							<dict>
								<key>Digest</key>
								<data>
								+RNbTceYlIMI
								O3e43xHmcg==
								</data>
								<key>Size</key>
								<integer>43707</integer>
							</dict>
							<key>podcast_files/tag-carrie-fisher.html</key>
							<dict>
								<key>Digest</key>
								<data>
								szv4AVoAsCOW
								bl5DjFBGgQ==
								</data>
								<key>Size</key>
								<integer>21594</integer>
							</dict>
							<key>podcast_files/tag-celebration.html</key>
							<dict>
								<key>Digest</key>
								<data>
								QmS6B11n7sm5
								37COK63Oxg==
								</data>
								<key>Size</key>
								<integer>51122</integer>
							</dict>
							<key>podcast_files/tag-comics.html</key>
							<dict>
								<key>Digest</key>
								<data>
								xrU3z9olfiFC
								IVp889yK5Q==
								</data>
								<key>Size</key>
								<integer>22311</integer>
							</dict>
							<key>podcast_files/tag-commander.html</key>
							<dict>
								<key>Digest</key>
								<data>
								wv0YI7jTgrfi
								AmP3yVBqyg==
								</data>
								<key>Size</key>
								<integer>19285</integer>
							</dict>
							<key>podcast_files/tag-dagobah.html</key>
							<dict>
								<key>Digest</key>
								<data>
								+MAq6GuJKevv
								T/ssMqH1Uw==
								</data>
								<key>Size</key>
								<integer>19239</integer>
							</dict>
							<key>podcast_files/tag-dark-side.html</key>
							<dict>
								<key>Digest</key>
								<data>
								jFHf4vDd5YV/
								nAsitb3aOg==
								</data>
								<key>Size</key>
								<integer>16677</integer>
							</dict>
							<key>podcast_files/tag-darth-vader.html</key>
							<dict>
								<key>Digest</key>
								<data>
								MKe5b5Ur/p9H
								kuvpEPNdkg==
								</data>
								<key>Size</key>
								<integer>37625</integer>
							</dict>
							<key>podcast_files/tag-ear-candy.html</key>
							<dict>
								<key>Digest</key>
								<data>
								mRhbmMk1fSe+
								miDseAEr2Q==
								</data>
								<key>Size</key>
								<integer>16677</integer>
							</dict>
							<key>podcast_files/tag-episode.html</key>
							<dict>
								<key>Digest</key>
								<data>
								qA6utOJQZRCU
								1WLEGVJjIg==
								</data>
								<key>Size</key>
								<integer>48849</integer>
							</dict>
							<key>podcast_files/tag-film.html</key>
							<dict>
								<key>Digest</key>
								<data>
								rvald51wmhQZ
								jObhfoB/xA==
								</data>
								<key>Size</key>
								<integer>19275</integer>
							</dict>
							<key>podcast_files/tag-force-awakens.html</key>
							<dict>
								<key>Digest</key>
								<data>
								24BqfMgJdd4d
								pjxHtia3vg==
								</data>
								<key>Size</key>
								<integer>17564</integer>
							</dict>
							<key>podcast_files/tag-force-friday.html</key>
							<dict>
								<key>Digest</key>
								<data>
								18O9iSbrPES1
								GD6Ct6Qz2g==
								</data>
								<key>Size</key>
								<integer>17127</integer>
							</dict>
							<key>podcast_files/tag-funko-pop.html</key>
							<dict>
								<key>Digest</key>
								<data>
								dPrcDvxmgqz6
								N+3rHsgyMg==
								</data>
								<key>Size</key>
								<integer>16677</integer>
							</dict>
							<key>podcast_files/tag-furbacca.html</key>
							<dict>
								<key>Digest</key>
								<data>
								9PhsWI5HPFrm
								tZ7EBiyMFQ==
								</data>
								<key>Size</key>
								<integer>19283</integer>
							</dict>
							<key>podcast_files/tag-galaxy.html</key>
							<dict>
								<key>Digest</key>
								<data>
								BjUsWInV0wSd
								xnyq15lWEA==
								</data>
								<key>Size</key>
								<integer>24899</integer>
							</dict>
							<key>podcast_files/tag-godzilla.html</key>
							<dict>
								<key>Digest</key>
								<data>
								NRjPN5wVTu3s
								AjGHIb/hVA==
								</data>
								<key>Size</key>
								<integer>39316</integer>
							</dict>
							<key>podcast_files/tag-guest.html</key>
							<dict>
								<key>Digest</key>
								<data>
								EmEsih49I6ll
								/ds3GM0QYg==
								</data>
								<key>Size</key>
								<integer>17113</integer>
							</dict>
							<key>podcast_files/tag-han-solo.html</key>
							<dict>
								<key>Digest</key>
								<data>
								l3eDYUGzqVWy
								9y8Ze256fg==
								</data>
								<key>Size</key>
								<integer>21063</integer>
							</dict>
							<key>podcast_files/tag-hasbro.html</key>
							<dict>
								<key>Digest</key>
								<data>
								gMFtbB0fyrng
								EdLA8tO2lQ==
								</data>
								<key>Size</key>
								<integer>27114</integer>
							</dict>
							<key>podcast_files/tag-jango-fett.html</key>
							<dict>
								<key>Digest</key>
								<data>
								xPCwIfRkvyY6
								gPKl9Z+Ncg==
								</data>
								<key>Size</key>
								<integer>43701</integer>
							</dict>
							<key>podcast_files/tag-kenny-baker.html</key>
							<dict>
								<key>Digest</key>
								<data>
								gNqi14dsETk0
								DXfZLVyrLA==
								</data>
								<key>Size</key>
								<integer>16358</integer>
							</dict>
							<key>podcast_files/tag-last-jedi.html</key>
							<dict>
								<key>Digest</key>
								<data>
								aN81U7cJpvUA
								iV5PADaqRA==
								</data>
								<key>Size</key>
								<integer>43699</integer>
							</dict>
							<key>podcast_files/tag-legends.html</key>
							<dict>
								<key>Digest</key>
								<data>
								OwBliPGDnQDx
								i4BJ+ZWbZw==
								</data>
								<key>Size</key>
								<integer>22271</integer>
							</dict>
							<key>podcast_files/tag-lego.html</key>
							<dict>
								<key>Digest</key>
								<data>
								bdwpbo4P25sE
								V76irxY5dA==
								</data>
								<key>Size</key>
								<integer>26209</integer>
							</dict>
							<key>podcast_files/tag-lets-rip-it-a-new-one.html</key>
							<dict>
								<key>Digest</key>
								<data>
								zNV8YkbtGYBw
								4axVqhiR7Q==
								</data>
								<key>Size</key>
								<integer>18546</integer>
							</dict>
							<key>podcast_files/tag-mark-hamill.html</key>
							<dict>
								<key>Digest</key>
								<data>
								rWW8tvFdTwDK
								fr1C4WFHXw==
								</data>
								<key>Size</key>
								<integer>21069</integer>
							</dict>
							<key>podcast_files/tag-mike-mann.html</key>
							<dict>
								<key>Digest</key>
								<data>
								ygcznEYxpBo3
								MlUfhkg5wQ==
								</data>
								<key>Size</key>
								<integer>17503</integer>
							</dict>
							<key>podcast_files/tag-millennium-falcon.html</key>
							<dict>
								<key>Digest</key>
								<data>
								fg/Mu1LMiCLh
								gCAw8QlCNA==
								</data>
								<key>Size</key>
								<integer>19301</integer>
							</dict>
							<key>podcast_files/tag-movies.html</key>
							<dict>
								<key>Digest</key>
								<data>
								Q/yYL8KwfDdZ
								XwUBm4c2JQ==
								</data>
								<key>Size</key>
								<integer>24091</integer>
							</dict>
							<key>podcast_files/tag-news-of-the-galaxy.html</key>
							<dict>
								<key>Digest</key>
								<data>
								jBu77eVFlQ0Q
								UV0LpM1PqA==
								</data>
								<key>Size</key>
								<integer>48871</integer>
							</dict>
							<key>podcast_files/tag-news.html</key>
							<dict>
								<key>Digest</key>
								<data>
								y3p78VJ3XCWm
								4OUmoysckA==
								</data>
								<key>Size</key>
								<integer>24429</integer>
							</dict>
							<key>podcast_files/tag-original.html</key>
							<dict>
								<key>Digest</key>
								<data>
								+Qh9MmAgkDWz
								gdFKrYIT6w==
								</data>
								<key>Size</key>
								<integer>39316</integer>
							</dict>
							<key>podcast_files/tag-palpatine.html</key>
							<dict>
								<key>Digest</key>
								<data>
								mUpubd6CGu0f
								vGvXKwxrEg==
								</data>
								<key>Size</key>
								<integer>24439</integer>
							</dict>
							<key>podcast_files/tag-podcast.html</key>
							<dict>
								<key>Digest</key>
								<data>
								Q/XPxixdCXsz
								O3chdkMDPQ==
								</data>
								<key>Size</key>
								<integer>52263</integer>
							</dict>
							<key>podcast_files/tag-princess-leia.html</key>
							<dict>
								<key>Digest</key>
								<data>
								fPYPUQTzSv5p
								Z1IRL14grA==
								</data>
								<key>Size</key>
								<integer>16398</integer>
							</dict>
							<key>podcast_files/tag-princess.html</key>
							<dict>
								<key>Digest</key>
								<data>
								+g3qUu9T/lHv
								eM63mPaZlA==
								</data>
								<key>Size</key>
								<integer>17501</integer>
							</dict>
							<key>podcast_files/tag-r2d2.html</key>
							<dict>
								<key>Digest</key>
								<data>
								C71VtHku1MsN
								uQAqdlnC+g==
								</data>
								<key>Size</key>
								<integer>21055</integer>
							</dict>
							<key>podcast_files/tag-rebels.html</key>
							<dict>
								<key>Digest</key>
								<data>
								bdMTDVpKs6oI
								NF384KRgwg==
								</data>
								<key>Size</key>
								<integer>19851</integer>
							</dict>
							<key>podcast_files/tag-rogue-one.html</key>
							<dict>
								<key>Digest</key>
								<data>
								s4kfj5UZksoG
								rDN55DyijQ==
								</data>
								<key>Size</key>
								<integer>24532</integer>
							</dict>
							<key>podcast_files/tag-rouge-one.html</key>
							<dict>
								<key>Digest</key>
								<data>
								ncIy/RY7DPXK
								pcIJEHuV4Q==
								</data>
								<key>Size</key>
								<integer>17121</integer>
							</dict>
							<key>podcast_files/tag-shenanigans.html</key>
							<dict>
								<key>Digest</key>
								<data>
								OWtgs7O34b59
								T35xaDmErA==
								</data>
								<key>Size</key>
								<integer>17507</integer>
							</dict>
							<key>podcast_files/tag-star-wars.html</key>
							<dict>
								<key>Digest</key>
								<data>
								76JmBHowJYU2
								TirTUh4/Mg==
								</data>
								<key>Size</key>
								<integer>78092</integer>
							</dict>
							<key>podcast_files/tag-trilogy.html</key>
							<dict>
								<key>Digest</key>
								<data>
								p3oYDYG7K0rB
								bb24+EVRsw==
								</data>
								<key>Size</key>
								<integer>39314</integer>
							</dict>
							<key>podcast_files/tag-wookie.html</key>
							<dict>
								<key>Digest</key>
								<data>
								qvQXFDhp0VJN
								gPjrXSVaaw==
								</data>
								<key>Size</key>
								<integer>16671</integer>
							</dict>
							<key>podcast_files/tag-yoda.html</key>
							<dict>
								<key>Digest</key>
								<data>
								WXcxBLOfRCZ/
								9p+qfg6pvg==
								</data>
								<key>Size</key>
								<integer>19233</integer>
							</dict>
							<key>rw_common/images/notg_banner.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								C+e6jxFNyj6l
								95gF+K0QlQ==
								</data>
								<key>Size</key>
								<integer>448480</integer>
							</dict>
							<key>rw_common/images/stormtrooper.png</key>
							<dict>
								<key>Digest</key>
								<data>
								/+NW5WgZswrn
								gOub16I2+A==
								</data>
								<key>Size</key>
								<integer>22488</integer>
							</dict>
							<key>rw_common/version.txt</key>
							<dict>
								<key>Digest</key>
								<data>
								a0XPRnqciAAR
								Wagm6Sx0Nw==
								</data>
								<key>Size</key>
								<integer>5</integer>
							</dict>
							<key>sitemap.xml</key>
							<dict>
								<key>Digest</key>
								<data>
								9+U5wDahAPXX
								/Ksgw2W+nQ==
								</data>
								<key>Size</key>
								<integer>7023</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page2</string>
						<key>SiteRoot</key>
						<string></string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
