<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BannerAltText</key>
				<string>Lander theme</string>
				<key>BrowserTitle</key>
				<string>Podcasts Holocron</string>
				<key>CreatedDate</key>
				<date>2016-04-04T12:37:20Z</date>
				<key>CustomThemeName</key>
				<string>Lander</string>
				<key>ID</key>
				<string>page2</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Blogok</string>
				<key>PageTitle</key>
				<string>Holocron</string>
				<key>PluginClassName</key>
				<string>RWBlogPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Blog</string>
					<key>Version</key>
					<string>7.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>file:///Users/codebuddha/GitHub/news-of-the-galaxy/www/</key>
					<dict>
						<key>CreationDate</key>
						<date>2018-01-06T22:34:14Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>podcast.html</key>
							<dict>
								<key>Digest</key>
								<data>
								Kjq6iqe6UAO6
								dCKod4TnRA==
								</data>
								<key>Size</key>
								<integer>86757</integer>
							</dict>
							<key>podcast_files/2-Solos-1-Cup.html</key>
							<dict>
								<key>Digest</key>
								<data>
								3SPxF53AHfGB
								edOZbrJ3Pw==
								</data>
								<key>Size</key>
								<integer>21188</integer>
							</dict>
							<key>podcast_files/A-Bucket-of-Awesomeness.html</key>
							<dict>
								<key>Digest</key>
								<data>
								jak0C2YSheX1
								u9bLcJA8rg==
								</data>
								<key>Size</key>
								<integer>17676</integer>
							</dict>
							<key>podcast_files/C-(MP)3PO.html</key>
							<dict>
								<key>Digest</key>
								<data>
								XCD8gd/XdgGy
								6kFrKS5Bnw==
								</data>
								<key>Size</key>
								<integer>17241</integer>
							</dict>
							<key>podcast_files/Captain-Kirk-is-a-Dirty-Word.html</key>
							<dict>
								<key>Digest</key>
								<data>
								ViAHcHQfAKwo
								lWUqyE4+tA==
								</data>
								<key>Size</key>
								<integer>16797</integer>
							</dict>
							<key>podcast_files/Finger-Licking-Good.html</key>
							<dict>
								<key>Digest</key>
								<data>
								e/y67m+MIzk6
								UnNrU4hDyw==
								</data>
								<key>Size</key>
								<integer>19405</integer>
							</dict>
							<key>podcast_files/Gorgonzola-King-of-the-Monsters.html</key>
							<dict>
								<key>Digest</key>
								<data>
								8f8F38Bbgn2b
								yANgEq6M4A==
								</data>
								<key>Size</key>
								<integer>18628</integer>
							</dict>
							<key>podcast_files/Keep-Spinning-You-Goofy-Death-Star.html</key>
							<dict>
								<key>Digest</key>
								<data>
								0MJYloZWxV9l
								S04BC6IrEw==
								</data>
								<key>Size</key>
								<integer>17912</integer>
							</dict>
							<key>podcast_files/Lets-Rip-It-A-New-One.html</key>
							<dict>
								<key>Digest</key>
								<data>
								DAD8omlrgsII
								/LS8AFqC2g==
								</data>
								<key>Size</key>
								<integer>18643</integer>
							</dict>
							<key>podcast_files/Looking-For-Love-In-Alderaan-Places.html</key>
							<dict>
								<key>Digest</key>
								<data>
								e0aPmasAbOpf
								C3f+7A2SWw==
								</data>
								<key>Size</key>
								<integer>16510</integer>
							</dict>
							<key>podcast_files/Meatball-Babies.html</key>
							<dict>
								<key>Digest</key>
								<data>
								8f2ev9AEc/Vq
								sinC7sGHvg==
								</data>
								<key>Size</key>
								<integer>18982</integer>
							</dict>
							<key>podcast_files/News of the Galaxy.xml</key>
							<dict>
								<key>Digest</key>
								<data>
								VyoAxdTb+Ycw
								YRzWuKT3IQ==
								</data>
								<key>Size</key>
								<integer>38496</integer>
							</dict>
							<key>podcast_files/Not-Your-Daddys-Podcast.html</key>
							<dict>
								<key>Digest</key>
								<data>
								N9ti9VRbFGOJ
								TBg3tQ1/3g==
								</data>
								<key>Size</key>
								<integer>19522</integer>
							</dict>
							<key>podcast_files/Palpatines-Sip-of-the-Week.html</key>
							<dict>
								<key>Digest</key>
								<data>
								Id+13WVtfrBl
								S8PQgbnRGA==
								</data>
								<key>Size</key>
								<integer>19365</integer>
							</dict>
							<key>podcast_files/Porg-One-Out-For-Palpatine.html</key>
							<dict>
								<key>Digest</key>
								<data>
								LTYEx6BDpg7x
								Ua/jZwMyUg==
								</data>
								<key>Size</key>
								<integer>17757</integer>
							</dict>
							<key>podcast_files/Starring-Nick.html</key>
							<dict>
								<key>Digest</key>
								<data>
								acx8xaYO5+rA
								swcQCl/+Iw==
								</data>
								<key>Size</key>
								<integer>18591</integer>
							</dict>
							<key>podcast_files/Starting-Fires.html</key>
							<dict>
								<key>Digest</key>
								<data>
								vqNCI1cL8Smd
								XLU7TVeODA==
								</data>
								<key>Size</key>
								<integer>16474</integer>
							</dict>
							<key>podcast_files/The-Emperors-New-Robes.html</key>
							<dict>
								<key>Digest</key>
								<data>
								Pft4iaPgu3S4
								JUTgUc83SQ==
								</data>
								<key>Size</key>
								<integer>17626</integer>
							</dict>
							<key>podcast_files/What-Did-Nick-Do-This-Time.html</key>
							<dict>
								<key>Digest</key>
								<data>
								aIeLG8hdtsbT
								aYM77xr4YA==
								</data>
								<key>Size</key>
								<integer>18027</integer>
							</dict>
							<key>podcast_files/archive-2016.html</key>
							<dict>
								<key>Digest</key>
								<data>
								LQthSlUFe0aF
								zBpACqNHxQ==
								</data>
								<key>Size</key>
								<integer>34364</integer>
							</dict>
							<key>podcast_files/archive-2017.html</key>
							<dict>
								<key>Digest</key>
								<data>
								OeyFF0PELR2M
								M2fnFj/6Ww==
								</data>
								<key>Size</key>
								<integer>63249</integer>
							</dict>
							<key>podcast_files/category-comedy.html</key>
							<dict>
								<key>Digest</key>
								<data>
								Kjns1QY+KDmy
								KhJzbSi4nA==
								</data>
								<key>Size</key>
								<integer>79790</integer>
							</dict>
							<key>podcast_files/category-games-0026-hobbies.html</key>
							<dict>
								<key>Digest</key>
								<data>
								mjClpK/bb12K
								7tItmnzRwg==
								</data>
								<key>Size</key>
								<integer>79808</integer>
							</dict>
							<key>podcast_files/ep13-2.png</key>
							<dict>
								<key>Digest</key>
								<data>
								QhaztK+jjHcd
								vGWLCKN+Gg==
								</data>
								<key>Size</key>
								<integer>363447</integer>
							</dict>
							<key>podcast_files/meta.js</key>
							<dict>
								<key>Digest</key>
								<data>
								BGjpynSuVVsC
								KLXoNkkXJA==
								</data>
								<key>Size</key>
								<integer>8502</integer>
							</dict>
							<key>podcast_files/podcast_channel.png</key>
							<dict>
								<key>Digest</key>
								<data>
								lzb/DnZECZJ7
								UPSDG4XBuA==
								</data>
								<key>Size</key>
								<integer>508085</integer>
							</dict>
							<key>podcast_files/tag-ahsoka.html</key>
							<dict>
								<key>Digest</key>
								<data>
								5GOs1YCNsBNZ
								EPX4KP+n6Q==
								</data>
								<key>Size</key>
								<integer>19596</integer>
							</dict>
							<key>podcast_files/tag-alderaan.html</key>
							<dict>
								<key>Digest</key>
								<data>
								uqoWMBDwYG4a
								WbolWyLpUg==
								</data>
								<key>Size</key>
								<integer>16705</integer>
							</dict>
							<key>podcast_files/tag-amazon.html</key>
							<dict>
								<key>Digest</key>
								<data>
								koH/VD8B8K4q
								9KVpSWVxaA==
								</data>
								<key>Size</key>
								<integer>17867</integer>
							</dict>
							<key>podcast_files/tag-asteroid-field.html</key>
							<dict>
								<key>Digest</key>
								<data>
								1XB/EaG0+TLD
								LGi85+AqiA==
								</data>
								<key>Size</key>
								<integer>45035</integer>
							</dict>
							<key>podcast_files/tag-black-series.html</key>
							<dict>
								<key>Digest</key>
								<data>
								zO/6LH771mEV
								JORYnRTesQ==
								</data>
								<key>Size</key>
								<integer>17879</integer>
							</dict>
							<key>podcast_files/tag-books.html</key>
							<dict>
								<key>Digest</key>
								<data>
								PMw6zxHWCBv2
								GMKFYe04vQ==
								</data>
								<key>Size</key>
								<integer>17430</integer>
							</dict>
							<key>podcast_files/tag-bounty-hunter.html</key>
							<dict>
								<key>Digest</key>
								<data>
								i91LNWjRMhd2
								MxzvSRdlsw==
								</data>
								<key>Size</key>
								<integer>48796</integer>
							</dict>
							<key>podcast_files/tag-carrie-fisher.html</key>
							<dict>
								<key>Digest</key>
								<data>
								6QLw9PosTBvp
								ibp9rWLRVQ==
								</data>
								<key>Size</key>
								<integer>21911</integer>
							</dict>
							<key>podcast_files/tag-celebration.html</key>
							<dict>
								<key>Digest</key>
								<data>
								gBYKpTC8TsoY
								YChhJMsu6A==
								</data>
								<key>Size</key>
								<integer>56211</integer>
							</dict>
							<key>podcast_files/tag-comics.html</key>
							<dict>
								<key>Digest</key>
								<data>
								tCnG5bFZPM42
								yL0sQQsDgg==
								</data>
								<key>Size</key>
								<integer>22628</integer>
							</dict>
							<key>podcast_files/tag-commander.html</key>
							<dict>
								<key>Digest</key>
								<data>
								53LFXxUDuANF
								VRCkSp3F+A==
								</data>
								<key>Size</key>
								<integer>19602</integer>
							</dict>
							<key>podcast_files/tag-dagobah.html</key>
							<dict>
								<key>Digest</key>
								<data>
								2gOtpZ050L9A
								jHwC8elRPg==
								</data>
								<key>Size</key>
								<integer>19556</integer>
							</dict>
							<key>podcast_files/tag-dark-side.html</key>
							<dict>
								<key>Digest</key>
								<data>
								W8sjlf7Q6xVs
								PNPAUObf2A==
								</data>
								<key>Size</key>
								<integer>16994</integer>
							</dict>
							<key>podcast_files/tag-darth-vader.html</key>
							<dict>
								<key>Digest</key>
								<data>
								Knrjd122hfLQ
								njJvsa6hpA==
								</data>
								<key>Size</key>
								<integer>42714</integer>
							</dict>
							<key>podcast_files/tag-ear-candy.html</key>
							<dict>
								<key>Digest</key>
								<data>
								d0svuAG9hv+r
								KRJu77LS8A==
								</data>
								<key>Size</key>
								<integer>16994</integer>
							</dict>
							<key>podcast_files/tag-episode.html</key>
							<dict>
								<key>Digest</key>
								<data>
								zPwYwB1cOL9G
								fjHd1zk4Vg==
								</data>
								<key>Size</key>
								<integer>53938</integer>
							</dict>
							<key>podcast_files/tag-film.html</key>
							<dict>
								<key>Digest</key>
								<data>
								ZlC0RO7jhw6K
								noanha/KVw==
								</data>
								<key>Size</key>
								<integer>19592</integer>
							</dict>
							<key>podcast_files/tag-force-awakens.html</key>
							<dict>
								<key>Digest</key>
								<data>
								d5ns2Z/frGIY
								oMqhd+e4ow==
								</data>
								<key>Size</key>
								<integer>17881</integer>
							</dict>
							<key>podcast_files/tag-force-friday.html</key>
							<dict>
								<key>Digest</key>
								<data>
								K1QItAhQiSLa
								2eeex4+R7A==
								</data>
								<key>Size</key>
								<integer>17444</integer>
							</dict>
							<key>podcast_files/tag-funko-pop.html</key>
							<dict>
								<key>Digest</key>
								<data>
								vla0uKYtCr+t
								9ykHCO7gIA==
								</data>
								<key>Size</key>
								<integer>16994</integer>
							</dict>
							<key>podcast_files/tag-furbacca.html</key>
							<dict>
								<key>Digest</key>
								<data>
								Ppth8mipLUiY
								FU4+914AFA==
								</data>
								<key>Size</key>
								<integer>19600</integer>
							</dict>
							<key>podcast_files/tag-galaxy.html</key>
							<dict>
								<key>Digest</key>
								<data>
								QmQfnfHT+OLj
								ZkvrdISW7A==
								</data>
								<key>Size</key>
								<integer>25216</integer>
							</dict>
							<key>podcast_files/tag-godzilla.html</key>
							<dict>
								<key>Digest</key>
								<data>
								gezqBpZRRGVj
								a4VopTAkLg==
								</data>
								<key>Size</key>
								<integer>44405</integer>
							</dict>
							<key>podcast_files/tag-guest.html</key>
							<dict>
								<key>Digest</key>
								<data>
								c8os5OVsQ92Z
								AilmoIXQ6A==
								</data>
								<key>Size</key>
								<integer>17430</integer>
							</dict>
							<key>podcast_files/tag-han-solo.html</key>
							<dict>
								<key>Digest</key>
								<data>
								0xV/eRz9KYAM
								hYj46o42+g==
								</data>
								<key>Size</key>
								<integer>21380</integer>
							</dict>
							<key>podcast_files/tag-hasbro.html</key>
							<dict>
								<key>Digest</key>
								<data>
								UY4pqUQBqnSP
								hlIcbb0VCw==
								</data>
								<key>Size</key>
								<integer>27431</integer>
							</dict>
							<key>podcast_files/tag-jango-fett.html</key>
							<dict>
								<key>Digest</key>
								<data>
								YoC/6mDLPGjO
								U0BFvTeiug==
								</data>
								<key>Size</key>
								<integer>48790</integer>
							</dict>
							<key>podcast_files/tag-kenny-baker.html</key>
							<dict>
								<key>Digest</key>
								<data>
								40UH2R7t6sm0
								TYEF3cYSIw==
								</data>
								<key>Size</key>
								<integer>16675</integer>
							</dict>
							<key>podcast_files/tag-last-jedi.html</key>
							<dict>
								<key>Digest</key>
								<data>
								DMB8d6BxNd6O
								nZCUC2NH7Q==
								</data>
								<key>Size</key>
								<integer>48788</integer>
							</dict>
							<key>podcast_files/tag-legends.html</key>
							<dict>
								<key>Digest</key>
								<data>
								AuHjjz/1PJsR
								xlRuKB6eOQ==
								</data>
								<key>Size</key>
								<integer>22588</integer>
							</dict>
							<key>podcast_files/tag-lego.html</key>
							<dict>
								<key>Digest</key>
								<data>
								o1rhxuVh8din
								lZ9CYPGSrA==
								</data>
								<key>Size</key>
								<integer>26526</integer>
							</dict>
							<key>podcast_files/tag-lets-rip-it-a-new-one.html</key>
							<dict>
								<key>Digest</key>
								<data>
								6OISkTY8xYHs
								nzJJVPvOqg==
								</data>
								<key>Size</key>
								<integer>18863</integer>
							</dict>
							<key>podcast_files/tag-mark-hamill.html</key>
							<dict>
								<key>Digest</key>
								<data>
								T4+zRy6qJxYI
								24cS1qCr0Q==
								</data>
								<key>Size</key>
								<integer>21386</integer>
							</dict>
							<key>podcast_files/tag-mike-mann.html</key>
							<dict>
								<key>Digest</key>
								<data>
								Lh1KDGlJ3Brw
								MhH0QWV9UA==
								</data>
								<key>Size</key>
								<integer>17820</integer>
							</dict>
							<key>podcast_files/tag-millennium-falcon.html</key>
							<dict>
								<key>Digest</key>
								<data>
								QiMmshuFAYcA
								RjsyyHL/JA==
								</data>
								<key>Size</key>
								<integer>19618</integer>
							</dict>
							<key>podcast_files/tag-movies.html</key>
							<dict>
								<key>Digest</key>
								<data>
								vgfKRNgi9uyi
								6tG+op/3/g==
								</data>
								<key>Size</key>
								<integer>24408</integer>
							</dict>
							<key>podcast_files/tag-news-of-the-galaxy.html</key>
							<dict>
								<key>Digest</key>
								<data>
								h8jo4BtnE5EA
								YsBoPe+lbA==
								</data>
								<key>Size</key>
								<integer>53960</integer>
							</dict>
							<key>podcast_files/tag-news.html</key>
							<dict>
								<key>Digest</key>
								<data>
								XzqSrXu4F/zp
								9MSGMEHV9A==
								</data>
								<key>Size</key>
								<integer>24746</integer>
							</dict>
							<key>podcast_files/tag-original.html</key>
							<dict>
								<key>Digest</key>
								<data>
								kgxmpMi5x2ts
								caWIdzP6iA==
								</data>
								<key>Size</key>
								<integer>44405</integer>
							</dict>
							<key>podcast_files/tag-palpatine.html</key>
							<dict>
								<key>Digest</key>
								<data>
								Sbov0vp2sxoD
								JqVKsBmSOA==
								</data>
								<key>Size</key>
								<integer>24756</integer>
							</dict>
							<key>podcast_files/tag-podcast.html</key>
							<dict>
								<key>Digest</key>
								<data>
								kE3B5/M7vt5o
								N9jBN2FzJA==
								</data>
								<key>Size</key>
								<integer>57352</integer>
							</dict>
							<key>podcast_files/tag-princess-leia.html</key>
							<dict>
								<key>Digest</key>
								<data>
								XK1DTBDKRc3p
								C7Y/6qdL9Q==
								</data>
								<key>Size</key>
								<integer>16715</integer>
							</dict>
							<key>podcast_files/tag-princess.html</key>
							<dict>
								<key>Digest</key>
								<data>
								euP5Me7t6m7P
								KMVmrkBJ+w==
								</data>
								<key>Size</key>
								<integer>17818</integer>
							</dict>
							<key>podcast_files/tag-r2d2.html</key>
							<dict>
								<key>Digest</key>
								<data>
								NjEaOsTMTMJm
								RAXs/NDD0Q==
								</data>
								<key>Size</key>
								<integer>21372</integer>
							</dict>
							<key>podcast_files/tag-rebels.html</key>
							<dict>
								<key>Digest</key>
								<data>
								nGIXJdgmPlIi
								srnRTkc7zg==
								</data>
								<key>Size</key>
								<integer>20168</integer>
							</dict>
							<key>podcast_files/tag-rogue-one.html</key>
							<dict>
								<key>Digest</key>
								<data>
								ShPT9HaO5dcn
								BYMiBmXnrQ==
								</data>
								<key>Size</key>
								<integer>24849</integer>
							</dict>
							<key>podcast_files/tag-rouge-one.html</key>
							<dict>
								<key>Digest</key>
								<data>
								GWMS8puuqAbb
								+2g3Z3MOsg==
								</data>
								<key>Size</key>
								<integer>17438</integer>
							</dict>
							<key>podcast_files/tag-shenanigans.html</key>
							<dict>
								<key>Digest</key>
								<data>
								wtKXpyebR9Eb
								P1JPt69tYg==
								</data>
								<key>Size</key>
								<integer>17824</integer>
							</dict>
							<key>podcast_files/tag-star-wars.html</key>
							<dict>
								<key>Digest</key>
								<data>
								h0d09+xmFBQm
								thicW5bwHw==
								</data>
								<key>Size</key>
								<integer>83181</integer>
							</dict>
							<key>podcast_files/tag-trilogy.html</key>
							<dict>
								<key>Digest</key>
								<data>
								2ef5WZyFNJg8
								p/UC4vwhXw==
								</data>
								<key>Size</key>
								<integer>44403</integer>
							</dict>
							<key>podcast_files/tag-wookie.html</key>
							<dict>
								<key>Digest</key>
								<data>
								wX7YFxaUmPWh
								AT3Rn8aCmw==
								</data>
								<key>Size</key>
								<integer>16988</integer>
							</dict>
							<key>podcast_files/tag-yoda.html</key>
							<dict>
								<key>Digest</key>
								<data>
								1qJG89zJHH1o
								qT+ok+pmew==
								</data>
								<key>Size</key>
								<integer>19550</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page2</string>
						<key>SiteRoot</key>
						<string></string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
