<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BannerAltText</key>
				<string>Lander theme</string>
				<key>BrowserTitle</key>
				<string>Podcasts Holocron</string>
				<key>CreatedDate</key>
				<date>2016-04-04T12:37:20Z</date>
				<key>CustomThemeName</key>
				<string>Lander</string>
				<key>ID</key>
				<string>page2</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Blogok</string>
				<key>PageTitle</key>
				<string>Episodes</string>
				<key>PluginClassName</key>
				<string>RWBlogPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Blog</string>
					<key>Version</key>
					<string>7.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>file:///Users/codebuddha/GitHub/news-of-the-galaxy/www/</key>
					<dict>
						<key>CreationDate</key>
						<date>2018-03-05T22:22:48Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>podcast.html</key>
							<dict>
								<key>Digest</key>
								<data>
								GxigOMjNAHnh
								Nlf4TQpGmA==
								</data>
								<key>Size</key>
								<integer>102071</integer>
							</dict>
							<key>podcast_files/2-Solos-1-Cup.html</key>
							<dict>
								<key>Digest</key>
								<data>
								BDaQ953OP/7Q
								o+PqiQk7kQ==
								</data>
								<key>Size</key>
								<integer>21870</integer>
							</dict>
							<key>podcast_files/A-Bucket-of-Awesomeness.html</key>
							<dict>
								<key>Digest</key>
								<data>
								R1C1IZe9N5rL
								V5poJZcpOQ==
								</data>
								<key>Size</key>
								<integer>18272</integer>
							</dict>
							<key>podcast_files/C-(MP)3PO.html</key>
							<dict>
								<key>Digest</key>
								<data>
								al5q/kidJCvp
								nKktJO8C1A==
								</data>
								<key>Size</key>
								<integer>17657</integer>
							</dict>
							<key>podcast_files/Captain-Kirk-is-a-Dirty-Word.html</key>
							<dict>
								<key>Digest</key>
								<data>
								99XjFMzREOlw
								ge/Q/KCkrA==
								</data>
								<key>Size</key>
								<integer>17290</integer>
							</dict>
							<key>podcast_files/Finger-Licking-Good.html</key>
							<dict>
								<key>Digest</key>
								<data>
								Y1Uui5Xvix/+
								su6rnW+RgA==
								</data>
								<key>Size</key>
								<integer>19744</integer>
							</dict>
							<key>podcast_files/Give-the-Money-to-the-Porg-Wrangler.html</key>
							<dict>
								<key>Digest</key>
								<data>
								vqtMEsX6zeln
								brnUPFj7ww==
								</data>
								<key>Size</key>
								<integer>19361</integer>
							</dict>
							<key>podcast_files/Gorgonzola-King-of-the-Monsters.html</key>
							<dict>
								<key>Digest</key>
								<data>
								LLNpDTpKmNAO
								+UFX4YTAMw==
								</data>
								<key>Size</key>
								<integer>19156</integer>
							</dict>
							<key>podcast_files/Keep-Spinning-You-Goofy-Death-Star.html</key>
							<dict>
								<key>Digest</key>
								<data>
								nEry5XmEv5KZ
								PQd51ShlrA==
								</data>
								<key>Size</key>
								<integer>18520</integer>
							</dict>
							<key>podcast_files/Lets-Rip-It-A-New-One.html</key>
							<dict>
								<key>Digest</key>
								<data>
								ETSFqOxpK0MD
								FuhnLWCbcA==
								</data>
								<key>Size</key>
								<integer>19164</integer>
							</dict>
							<key>podcast_files/Looking-For-Love-In-Alderaan-Places.html</key>
							<dict>
								<key>Digest</key>
								<data>
								Y/vyjapjVUqC
								kzQr3LjW1Q==
								</data>
								<key>Size</key>
								<integer>17088</integer>
							</dict>
							<key>podcast_files/Meatball-Babies.html</key>
							<dict>
								<key>Digest</key>
								<data>
								Bp9IM6SC3QPA
								GIJbUvzIQA==
								</data>
								<key>Size</key>
								<integer>19590</integer>
							</dict>
							<key>podcast_files/News of the Galaxy.xml</key>
							<dict>
								<key>Digest</key>
								<data>
								Fj3/3xzTWnVs
								mATl7FoBPA==
								</data>
								<key>Size</key>
								<integer>57088</integer>
							</dict>
							<key>podcast_files/Not-Your-Daddys-Podcast.html</key>
							<dict>
								<key>Digest</key>
								<data>
								Rn97rJ+hm1PC
								6T0k8yp5Lg==
								</data>
								<key>Size</key>
								<integer>20130</integer>
							</dict>
							<key>podcast_files/Palpatines-Sip-of-the-Week.html</key>
							<dict>
								<key>Digest</key>
								<data>
								I0LwV7AP+6cf
								BwAHZJRRyg==
								</data>
								<key>Size</key>
								<integer>19922</integer>
							</dict>
							<key>podcast_files/Polishing-Lukes-Lightsaber.html</key>
							<dict>
								<key>Digest</key>
								<data>
								0Cc4PNUq1LRj
								lrBNkngprQ==
								</data>
								<key>Size</key>
								<integer>18520</integer>
							</dict>
							<key>podcast_files/Porg-One-Out-For-Palpatine.html</key>
							<dict>
								<key>Digest</key>
								<data>
								cKoqgD3M6CiV
								xvzYA6w+3w==
								</data>
								<key>Size</key>
								<integer>18365</integer>
							</dict>
							<key>podcast_files/Snackbar.html</key>
							<dict>
								<key>Digest</key>
								<data>
								O2Q9GIsMtul+
								lkJW+T5Hqw==
								</data>
								<key>Size</key>
								<integer>17887</integer>
							</dict>
							<key>podcast_files/Starring-Nick.html</key>
							<dict>
								<key>Digest</key>
								<data>
								wGF/Yv8KFCxc
								f2+2X3Fejg==
								</data>
								<key>Size</key>
								<integer>19147</integer>
							</dict>
							<key>podcast_files/Starting-Fires.html</key>
							<dict>
								<key>Digest</key>
								<data>
								vjLhdN+dg3I9
								OKbvmwoPuA==
								</data>
								<key>Size</key>
								<integer>17003</integer>
							</dict>
							<key>podcast_files/The-Emperors-New-Robes.html</key>
							<dict>
								<key>Digest</key>
								<data>
								lsWeMduU6kfM
								IOj+TAF8rg==
								</data>
								<key>Size</key>
								<integer>18193</integer>
							</dict>
							<key>podcast_files/Theres-Indoor-and-Outdoor.html</key>
							<dict>
								<key>Digest</key>
								<data>
								niupI4h/nS/7
								l85UOghDKg==
								</data>
								<key>Size</key>
								<integer>18282</integer>
							</dict>
							<key>podcast_files/What-Did-Nick-Do-This-Time.html</key>
							<dict>
								<key>Digest</key>
								<data>
								Y3saWN5NyzkD
								+fjgxGTZiQ==
								</data>
								<key>Size</key>
								<integer>18635</integer>
							</dict>
							<key>podcast_files/archive-2016.html</key>
							<dict>
								<key>Digest</key>
								<data>
								UseNFqjBmuFU
								CBOx+Vy0yw==
								</data>
								<key>Size</key>
								<integer>34303</integer>
							</dict>
							<key>podcast_files/archive-2017.html</key>
							<dict>
								<key>Digest</key>
								<data>
								C2WIKNvmr8co
								Rolc9M0EMQ==
								</data>
								<key>Size</key>
								<integer>67093</integer>
							</dict>
							<key>podcast_files/archive-2018.html</key>
							<dict>
								<key>Digest</key>
								<data>
								bBaBpT/Oh/yh
								Pczx68c66w==
								</data>
								<key>Size</key>
								<integer>26365</integer>
							</dict>
							<key>podcast_files/category-comedy.html</key>
							<dict>
								<key>Digest</key>
								<data>
								hYLkyBvDqgDF
								Bkm0+tp/UA==
								</data>
								<key>Size</key>
								<integer>93444</integer>
							</dict>
							<key>podcast_files/category-games-0026-hobbies.html</key>
							<dict>
								<key>Digest</key>
								<data>
								kYOHhvOqQzdf
								SIS3VcNLyg==
								</data>
								<key>Size</key>
								<integer>93462</integer>
							</dict>
							<key>podcast_files/ep13-2.png</key>
							<dict>
								<key>Digest</key>
								<data>
								QhaztK+jjHcd
								vGWLCKN+Gg==
								</data>
								<key>Size</key>
								<integer>363447</integer>
							</dict>
							<key>podcast_files/meta.js</key>
							<dict>
								<key>Digest</key>
								<data>
								ZEN2/l0oB0oI
								eTCYtAcdrw==
								</data>
								<key>Size</key>
								<integer>9673</integer>
							</dict>
							<key>podcast_files/podcast_channel.png</key>
							<dict>
								<key>Digest</key>
								<data>
								lzb/DnZECZJ7
								UPSDG4XBuA==
								</data>
								<key>Size</key>
								<integer>508085</integer>
							</dict>
							<key>podcast_files/tag-21st-century-fox.html</key>
							<dict>
								<key>Digest</key>
								<data>
								VDKEaT75iQct
								AzJ9+jNpAw==
								</data>
								<key>Size</key>
								<integer>26341</integer>
							</dict>
							<key>podcast_files/tag-ahsoka.html</key>
							<dict>
								<key>Digest</key>
								<data>
								ZE/LrTyzELca
								cl0GT5A6gw==
								</data>
								<key>Size</key>
								<integer>19935</integer>
							</dict>
							<key>podcast_files/tag-alderaan.html</key>
							<dict>
								<key>Digest</key>
								<data>
								tJ22EVSDFYnn
								Vvg/ZpNEuQ==
								</data>
								<key>Size</key>
								<integer>17283</integer>
							</dict>
							<key>podcast_files/tag-amazon.html</key>
							<dict>
								<key>Digest</key>
								<data>
								bgDl7niOVWWB
								CL6+lPyutw==
								</data>
								<key>Size</key>
								<integer>18463</integer>
							</dict>
							<key>podcast_files/tag-asteroid-field.html</key>
							<dict>
								<key>Digest</key>
								<data>
								VtgRZ90GJO53
								dPMiJWY/tg==
								</data>
								<key>Size</key>
								<integer>60251</integer>
							</dict>
							<key>podcast_files/tag-black-series.html</key>
							<dict>
								<key>Digest</key>
								<data>
								0b3xk0Hi3clD
								rszdLs1cNw==
								</data>
								<key>Size</key>
								<integer>18475</integer>
							</dict>
							<key>podcast_files/tag-books.html</key>
							<dict>
								<key>Digest</key>
								<data>
								IjmQvUzGg8+8
								qCMUwZRn6Q==
								</data>
								<key>Size</key>
								<integer>17846</integer>
							</dict>
							<key>podcast_files/tag-bounty-hunter.html</key>
							<dict>
								<key>Digest</key>
								<data>
								kUYIG7cIItL6
								31fxPCw/nQ==
								</data>
								<key>Size</key>
								<integer>49185</integer>
							</dict>
							<key>podcast_files/tag-canto-bight.html</key>
							<dict>
								<key>Digest</key>
								<data>
								833E5gPodMoH
								oN1V+RvlYw==
								</data>
								<key>Size</key>
								<integer>26331</integer>
							</dict>
							<key>podcast_files/tag-carrie-fisher.html</key>
							<dict>
								<key>Digest</key>
								<data>
								euw9CRHNuPzU
								enVudQEbdg==
								</data>
								<key>Size</key>
								<integer>22220</integer>
							</dict>
							<key>podcast_files/tag-celebration.html</key>
							<dict>
								<key>Digest</key>
								<data>
								Xa+yPCy7y9cq
								HdsTDph1sg==
								</data>
								<key>Size</key>
								<integer>56470</integer>
							</dict>
							<key>podcast_files/tag-comics.html</key>
							<dict>
								<key>Digest</key>
								<data>
								yzE9SNnOnYa7
								Q/kLNggw7w==
								</data>
								<key>Size</key>
								<integer>22775</integer>
							</dict>
							<key>podcast_files/tag-commander.html</key>
							<dict>
								<key>Digest</key>
								<data>
								0QIW4bsQI9Om
								x29Bdrgs/Q==
								</data>
								<key>Size</key>
								<integer>19941</integer>
							</dict>
							<key>podcast_files/tag-dagobah.html</key>
							<dict>
								<key>Digest</key>
								<data>
								Er8Y+wPCVDf5
								c9SwdMpSOw==
								</data>
								<key>Size</key>
								<integer>20113</integer>
							</dict>
							<key>podcast_files/tag-dark-side.html</key>
							<dict>
								<key>Digest</key>
								<data>
								UQRk5P/yYDPm
								/bMGKiMr4Q==
								</data>
								<key>Size</key>
								<integer>17487</integer>
							</dict>
							<key>podcast_files/tag-darth-vader.html</key>
							<dict>
								<key>Digest</key>
								<data>
								WWyhqBW2Y2ZG
								sTQdrnnP4g==
								</data>
								<key>Size</key>
								<integer>57874</integer>
							</dict>
							<key>podcast_files/tag-ear-candy.html</key>
							<dict>
								<key>Digest</key>
								<data>
								j1fbQ+0FRqhK
								zSCdO/bASQ==
								</data>
								<key>Size</key>
								<integer>17487</integer>
							</dict>
							<key>podcast_files/tag-episode.html</key>
							<dict>
								<key>Digest</key>
								<data>
								O1yN5Si27HPf
								vjxokzxdaw==
								</data>
								<key>Size</key>
								<integer>69052</integer>
							</dict>
							<key>podcast_files/tag-film.html</key>
							<dict>
								<key>Digest</key>
								<data>
								D/y8CRkH19Ct
								X6+VGPYILQ==
								</data>
								<key>Size</key>
								<integer>19931</integer>
							</dict>
							<key>podcast_files/tag-force-awakens.html</key>
							<dict>
								<key>Digest</key>
								<data>
								6gJlZ5a5BVk0
								DyEnDNeBEg==
								</data>
								<key>Size</key>
								<integer>18477</integer>
							</dict>
							<key>podcast_files/tag-force-friday.html</key>
							<dict>
								<key>Digest</key>
								<data>
								RbwiIMU+Figb
								WW2xtAetLQ==
								</data>
								<key>Size</key>
								<integer>17860</integer>
							</dict>
							<key>podcast_files/tag-funko-pop.html</key>
							<dict>
								<key>Digest</key>
								<data>
								v/uI/ri2zr/O
								kfDcvmsxKA==
								</data>
								<key>Size</key>
								<integer>17487</integer>
							</dict>
							<key>podcast_files/tag-furbacca.html</key>
							<dict>
								<key>Digest</key>
								<data>
								mL2bUQl9v3U2
								5ExM8HSDqg==
								</data>
								<key>Size</key>
								<integer>19939</integer>
							</dict>
							<key>podcast_files/tag-galaxy.html</key>
							<dict>
								<key>Digest</key>
								<data>
								WQD7Mq7zPgA9
								sIu0IThW4Q==
								</data>
								<key>Size</key>
								<integer>25248</integer>
							</dict>
							<key>podcast_files/tag-godzilla.html</key>
							<dict>
								<key>Digest</key>
								<data>
								r+5cBuQenyMv
								IWwLEM2Tqg==
								</data>
								<key>Size</key>
								<integer>44846</integer>
							</dict>
							<key>podcast_files/tag-guest.html</key>
							<dict>
								<key>Digest</key>
								<data>
								A3dbROijveoK
								ApAn1AHhHw==
								</data>
								<key>Size</key>
								<integer>17846</integer>
							</dict>
							<key>podcast_files/tag-han-solo.html</key>
							<dict>
								<key>Digest</key>
								<data>
								AmtaUqolKnW+
								rSSgdKC7ZQ==
								</data>
								<key>Size</key>
								<integer>22062</integer>
							</dict>
							<key>podcast_files/tag-hasbro.html</key>
							<dict>
								<key>Digest</key>
								<data>
								Qpw7MrsezPTR
								fBDD0FKyhg==
								</data>
								<key>Size</key>
								<integer>31449</integer>
							</dict>
							<key>podcast_files/tag-jango-fett.html</key>
							<dict>
								<key>Digest</key>
								<data>
								qdmKnTWxhcQZ
								dWGhu9vKOA==
								</data>
								<key>Size</key>
								<integer>49179</integer>
							</dict>
							<key>podcast_files/tag-john-williams.html</key>
							<dict>
								<key>Digest</key>
								<data>
								DGhOyB5B8Ybt
								kfvZoqD6xQ==
								</data>
								<key>Size</key>
								<integer>26335</integer>
							</dict>
							<key>podcast_files/tag-kenny-baker.html</key>
							<dict>
								<key>Digest</key>
								<data>
								TwOAGlHMyZ/Z
								QRwmJhVVmQ==
								</data>
								<key>Size</key>
								<integer>17204</integer>
							</dict>
							<key>podcast_files/tag-last-jedi.html</key>
							<dict>
								<key>Digest</key>
								<data>
								a+ioq5U90hEU
								C4a+pI/Chg==
								</data>
								<key>Size</key>
								<integer>63953</integer>
							</dict>
							<key>podcast_files/tag-legends.html</key>
							<dict>
								<key>Digest</key>
								<data>
								3HXXEZ2PdKG7
								p/Pv/NYSQA==
								</data>
								<key>Size</key>
								<integer>22953</integer>
							</dict>
							<key>podcast_files/tag-lego.html</key>
							<dict>
								<key>Digest</key>
								<data>
								R2IGu6Llvr14
								PE4swJwFow==
								</data>
								<key>Size</key>
								<integer>27157</integer>
							</dict>
							<key>podcast_files/tag-lets-rip-it-a-new-one.html</key>
							<dict>
								<key>Digest</key>
								<data>
								zA2TlR7fF3Rz
								55tuhWZfxw==
								</data>
								<key>Size</key>
								<integer>19384</integer>
							</dict>
							<key>podcast_files/tag-mark-hamill.html</key>
							<dict>
								<key>Digest</key>
								<data>
								T7Y6XFpLFaCV
								xEC/gK63sw==
								</data>
								<key>Size</key>
								<integer>22068</integer>
							</dict>
							<key>podcast_files/tag-mike-mann.html</key>
							<dict>
								<key>Digest</key>
								<data>
								7okRalQ/SY1V
								xCYXJUZzIg==
								</data>
								<key>Size</key>
								<integer>18387</integer>
							</dict>
							<key>podcast_files/tag-millennium-falcon.html</key>
							<dict>
								<key>Digest</key>
								<data>
								sX1RM4uhBbuo
								JAZvbAw3Uw==
								</data>
								<key>Size</key>
								<integer>19957</integer>
							</dict>
							<key>podcast_files/tag-movies.html</key>
							<dict>
								<key>Digest</key>
								<data>
								nl2WEwJwF592
								f5GoSGEXrQ==
								</data>
								<key>Size</key>
								<integer>24898</integer>
							</dict>
							<key>podcast_files/tag-news-of-the-galaxy.html</key>
							<dict>
								<key>Digest</key>
								<data>
								congcE4xvqPK
								fyEGthXdXQ==
								</data>
								<key>Size</key>
								<integer>69074</integer>
							</dict>
							<key>podcast_files/tag-news.html</key>
							<dict>
								<key>Digest</key>
								<data>
								k2WtFfL1aP36
								uJpraLO23g==
								</data>
								<key>Size</key>
								<integer>25034</integer>
							</dict>
							<key>podcast_files/tag-original.html</key>
							<dict>
								<key>Digest</key>
								<data>
								dFDODQuV8Q+l
								gs9J001c2A==
								</data>
								<key>Size</key>
								<integer>48309</integer>
							</dict>
							<key>podcast_files/tag-palpatine.html</key>
							<dict>
								<key>Digest</key>
								<data>
								6Pl1rXVbEMjp
								hI6BHa+ltw==
								</data>
								<key>Size</key>
								<integer>25044</integer>
							</dict>
							<key>podcast_files/tag-podcast.html</key>
							<dict>
								<key>Digest</key>
								<data>
								arlmiyAgEqhd
								r01nxDdeYg==
								</data>
								<key>Size</key>
								<integer>72425</integer>
							</dict>
							<key>podcast_files/tag-porg.html</key>
							<dict>
								<key>Digest</key>
								<data>
								5xr6RCWvA8Fo
								X1uDOLhcYQ==
								</data>
								<key>Size</key>
								<integer>26317</integer>
							</dict>
							<key>podcast_files/tag-princess-leia.html</key>
							<dict>
								<key>Digest</key>
								<data>
								oZX8/QAxYXed
								jIGJwKD4Kw==
								</data>
								<key>Size</key>
								<integer>17293</integer>
							</dict>
							<key>podcast_files/tag-princess.html</key>
							<dict>
								<key>Digest</key>
								<data>
								lPzEWd4XvNqD
								TChyZIRa1Q==
								</data>
								<key>Size</key>
								<integer>18385</integer>
							</dict>
							<key>podcast_files/tag-r2d2.html</key>
							<dict>
								<key>Digest</key>
								<data>
								qQ8P++Qfviem
								CkbYqS3rqw==
								</data>
								<key>Size</key>
								<integer>22054</integer>
							</dict>
							<key>podcast_files/tag-rebels.html</key>
							<dict>
								<key>Digest</key>
								<data>
								SH8Kn7BgmqS9
								Xl5ob+Msag==
								</data>
								<key>Size</key>
								<integer>20734</integer>
							</dict>
							<key>podcast_files/tag-rogue-one.html</key>
							<dict>
								<key>Digest</key>
								<data>
								FoddWiFLJGEI
								xnZ9/tFiuA==
								</data>
								<key>Size</key>
								<integer>25519</integer>
							</dict>
							<key>podcast_files/tag-rouge-one.html</key>
							<dict>
								<key>Digest</key>
								<data>
								lfwTRft4CanB
								B86NfiTL5Q==
								</data>
								<key>Size</key>
								<integer>17854</integer>
							</dict>
							<key>podcast_files/tag-shenanigans.html</key>
							<dict>
								<key>Digest</key>
								<data>
								2recMhF2odDE
								cy6l998rZg==
								</data>
								<key>Size</key>
								<integer>18391</integer>
							</dict>
							<key>podcast_files/tag-snoke.html</key>
							<dict>
								<key>Digest</key>
								<data>
								tB1CzCFKmnTv
								O12UcwjZsg==
								</data>
								<key>Size</key>
								<integer>21776</integer>
							</dict>
							<key>podcast_files/tag-star-wars.html</key>
							<dict>
								<key>Digest</key>
								<data>
								JR3OyU0iLI3o
								dbIat+CmZQ==
								</data>
								<key>Size</key>
								<integer>97631</integer>
							</dict>
							<key>podcast_files/tag-trilogy.html</key>
							<dict>
								<key>Digest</key>
								<data>
								baYnMuC6f5jf
								H42fmklpvw==
								</data>
								<key>Size</key>
								<integer>44844</integer>
							</dict>
							<key>podcast_files/tag-wookie.html</key>
							<dict>
								<key>Digest</key>
								<data>
								43nSpExZ4NdJ
								usaTTvy5qA==
								</data>
								<key>Size</key>
								<integer>17481</integer>
							</dict>
							<key>podcast_files/tag-yoda.html</key>
							<dict>
								<key>Digest</key>
								<data>
								XtdgEYAOcSi6
								TZxZi7FxKA==
								</data>
								<key>Size</key>
								<integer>20107</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page2</string>
						<key>SiteRoot</key>
						<string></string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
