<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BannerAltText</key>
				<string>Lander theme</string>
				<key>BrowserTitle</key>
				<string>Podcasts Holocron</string>
				<key>CreatedDate</key>
				<date>2016-04-04T12:37:20Z</date>
				<key>CustomThemeName</key>
				<string>Lander</string>
				<key>ID</key>
				<string>page2</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Blogok</string>
				<key>PageTitle</key>
				<string>Episodes</string>
				<key>PluginClassName</key>
				<string>RWBlogPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Blog</string>
					<key>Version</key>
					<string>7.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>file:///Users/codebuddha/GitHub/news-of-the-galaxy/www/</key>
					<dict>
						<key>CreationDate</key>
						<date>2018-02-03T15:56:20Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>podcast.html</key>
							<dict>
								<key>Digest</key>
								<data>
								Bde7XMfBB28X
								CKDrKq6cVQ==
								</data>
								<key>Size</key>
								<integer>94777</integer>
							</dict>
							<key>podcast_files/2-Solos-1-Cup.html</key>
							<dict>
								<key>Digest</key>
								<data>
								RQYEwwHmZtZB
								+9fEcbI3ow==
								</data>
								<key>Size</key>
								<integer>21778</integer>
							</dict>
							<key>podcast_files/A-Bucket-of-Awesomeness.html</key>
							<dict>
								<key>Digest</key>
								<data>
								sFLnIUC0CVub
								e7iombl4Ww==
								</data>
								<key>Size</key>
								<integer>18180</integer>
							</dict>
							<key>podcast_files/C-(MP)3PO.html</key>
							<dict>
								<key>Digest</key>
								<data>
								nkl9tk3F6stj
								QCE0xlY+og==
								</data>
								<key>Size</key>
								<integer>17565</integer>
							</dict>
							<key>podcast_files/Captain-Kirk-is-a-Dirty-Word.html</key>
							<dict>
								<key>Digest</key>
								<data>
								FbGGJ1F7JSLT
								eJhG/d14/w==
								</data>
								<key>Size</key>
								<integer>17198</integer>
							</dict>
							<key>podcast_files/Finger-Licking-Good.html</key>
							<dict>
								<key>Digest</key>
								<data>
								RJrnpw381+3r
								H9k7LuFt0Q==
								</data>
								<key>Size</key>
								<integer>19652</integer>
							</dict>
							<key>podcast_files/Give-the-Money-to-the-Porg-Wrangler.html</key>
							<dict>
								<key>Digest</key>
								<data>
								ozq8zXq59ufz
								8feVNK1e6g==
								</data>
								<key>Size</key>
								<integer>19269</integer>
							</dict>
							<key>podcast_files/Gorgonzola-King-of-the-Monsters.html</key>
							<dict>
								<key>Digest</key>
								<data>
								bxLJNkteZmbN
								teQekZVPkQ==
								</data>
								<key>Size</key>
								<integer>19064</integer>
							</dict>
							<key>podcast_files/Keep-Spinning-You-Goofy-Death-Star.html</key>
							<dict>
								<key>Digest</key>
								<data>
								v1nWZUCJqnwY
								YQ1o/RUAcg==
								</data>
								<key>Size</key>
								<integer>18428</integer>
							</dict>
							<key>podcast_files/Lets-Rip-It-A-New-One.html</key>
							<dict>
								<key>Digest</key>
								<data>
								ijO1/rDCs8ob
								v6yF9DD6gQ==
								</data>
								<key>Size</key>
								<integer>19072</integer>
							</dict>
							<key>podcast_files/Looking-For-Love-In-Alderaan-Places.html</key>
							<dict>
								<key>Digest</key>
								<data>
								IRJX0ZPM9trK
								jWAYhWuHtA==
								</data>
								<key>Size</key>
								<integer>16996</integer>
							</dict>
							<key>podcast_files/Meatball-Babies.html</key>
							<dict>
								<key>Digest</key>
								<data>
								ato0TJBreSEL
								VeYpgyhqAg==
								</data>
								<key>Size</key>
								<integer>19498</integer>
							</dict>
							<key>podcast_files/News of the Galaxy.xml</key>
							<dict>
								<key>Digest</key>
								<data>
								aFIO8wZdPyyU
								0b81Zb/QmQ==
								</data>
								<key>Size</key>
								<integer>52169</integer>
							</dict>
							<key>podcast_files/Not-Your-Daddys-Podcast.html</key>
							<dict>
								<key>Digest</key>
								<data>
								p+pl/7AIfVu5
								UWV7xHjlOw==
								</data>
								<key>Size</key>
								<integer>20038</integer>
							</dict>
							<key>podcast_files/Palpatines-Sip-of-the-Week.html</key>
							<dict>
								<key>Digest</key>
								<data>
								4qllT1btJPWY
								TqYpAW2vLw==
								</data>
								<key>Size</key>
								<integer>19830</integer>
							</dict>
							<key>podcast_files/Porg-One-Out-For-Palpatine.html</key>
							<dict>
								<key>Digest</key>
								<data>
								8VfXZ/LKLIg7
								RNVg2EPsNQ==
								</data>
								<key>Size</key>
								<integer>18273</integer>
							</dict>
							<key>podcast_files/Starring-Nick.html</key>
							<dict>
								<key>Digest</key>
								<data>
								zEG661/icpA8
								/5c6sf8fAw==
								</data>
								<key>Size</key>
								<integer>19055</integer>
							</dict>
							<key>podcast_files/Starting-Fires.html</key>
							<dict>
								<key>Digest</key>
								<data>
								rwpSJ6BCBtlz
								OwJiSVDb9w==
								</data>
								<key>Size</key>
								<integer>16911</integer>
							</dict>
							<key>podcast_files/The-Emperors-New-Robes.html</key>
							<dict>
								<key>Digest</key>
								<data>
								gDKd0X7+vZQU
								mfUJHiUwKA==
								</data>
								<key>Size</key>
								<integer>18101</integer>
							</dict>
							<key>podcast_files/Theres-Indoor-and-Outdoor.html</key>
							<dict>
								<key>Digest</key>
								<data>
								dW0ZxJWHVbB5
								f9fSioWx7A==
								</data>
								<key>Size</key>
								<integer>18190</integer>
							</dict>
							<key>podcast_files/What-Did-Nick-Do-This-Time.html</key>
							<dict>
								<key>Digest</key>
								<data>
								J+7C8NzrSBrX
								Nq0BWSPn3Q==
								</data>
								<key>Size</key>
								<integer>18543</integer>
							</dict>
							<key>podcast_files/archive-2016.html</key>
							<dict>
								<key>Digest</key>
								<data>
								hl9J8cuOmkbs
								jXuEkoHiig==
								</data>
								<key>Size</key>
								<integer>34211</integer>
							</dict>
							<key>podcast_files/archive-2017.html</key>
							<dict>
								<key>Digest</key>
								<data>
								kxE7aDa5C0cy
								nyhvTYGdQw==
								</data>
								<key>Size</key>
								<integer>67001</integer>
							</dict>
							<key>podcast_files/archive-2018.html</key>
							<dict>
								<key>Digest</key>
								<data>
								iEKfPQ1RxVXL
								x20yxOPxQA==
								</data>
								<key>Size</key>
								<integer>19505</integer>
							</dict>
							<key>podcast_files/category-comedy.html</key>
							<dict>
								<key>Digest</key>
								<data>
								GvyS3n/M7AXb
								vL9m4txANA==
								</data>
								<key>Size</key>
								<integer>86980</integer>
							</dict>
							<key>podcast_files/category-games-0026-hobbies.html</key>
							<dict>
								<key>Digest</key>
								<data>
								I5GXbm6fCPlp
								iGDzrnRj5w==
								</data>
								<key>Size</key>
								<integer>86998</integer>
							</dict>
							<key>podcast_files/ep13-2.png</key>
							<dict>
								<key>Digest</key>
								<data>
								QhaztK+jjHcd
								vGWLCKN+Gg==
								</data>
								<key>Size</key>
								<integer>363447</integer>
							</dict>
							<key>podcast_files/meta.js</key>
							<dict>
								<key>Digest</key>
								<data>
								7V2yWcY8d/zo
								dyvRMsQGgw==
								</data>
								<key>Size</key>
								<integer>9243</integer>
							</dict>
							<key>podcast_files/podcast_channel.png</key>
							<dict>
								<key>Digest</key>
								<data>
								lzb/DnZECZJ7
								UPSDG4XBuA==
								</data>
								<key>Size</key>
								<integer>508085</integer>
							</dict>
							<key>podcast_files/tag-21st-century-fox.html</key>
							<dict>
								<key>Digest</key>
								<data>
								MhfSqtHka+bA
								KBQrb71cQA==
								</data>
								<key>Size</key>
								<integer>19479</integer>
							</dict>
							<key>podcast_files/tag-ahsoka.html</key>
							<dict>
								<key>Digest</key>
								<data>
								yk5bOo985xEo
								2EVQgw4RkQ==
								</data>
								<key>Size</key>
								<integer>19843</integer>
							</dict>
							<key>podcast_files/tag-alderaan.html</key>
							<dict>
								<key>Digest</key>
								<data>
								NIJLteQPgBY1
								lTKps5AdbA==
								</data>
								<key>Size</key>
								<integer>17191</integer>
							</dict>
							<key>podcast_files/tag-amazon.html</key>
							<dict>
								<key>Digest</key>
								<data>
								8C9Bds42UW/U
								9cXx4MUg6Q==
								</data>
								<key>Size</key>
								<integer>18371</integer>
							</dict>
							<key>podcast_files/tag-asteroid-field.html</key>
							<dict>
								<key>Digest</key>
								<data>
								FkfGcBYvjKTl
								U23tbaxGyg==
								</data>
								<key>Size</key>
								<integer>53389</integer>
							</dict>
							<key>podcast_files/tag-black-series.html</key>
							<dict>
								<key>Digest</key>
								<data>
								ObNdSsV3pwwe
								eERc88oYwg==
								</data>
								<key>Size</key>
								<integer>18383</integer>
							</dict>
							<key>podcast_files/tag-books.html</key>
							<dict>
								<key>Digest</key>
								<data>
								YMet8b9khWls
								dEEm4OQxZw==
								</data>
								<key>Size</key>
								<integer>17754</integer>
							</dict>
							<key>podcast_files/tag-bounty-hunter.html</key>
							<dict>
								<key>Digest</key>
								<data>
								Wt0Y17esiRCD
								BOz/hQ65tA==
								</data>
								<key>Size</key>
								<integer>49093</integer>
							</dict>
							<key>podcast_files/tag-canto-bight.html</key>
							<dict>
								<key>Digest</key>
								<data>
								GduIyIyyM62N
								e009kkdwqQ==
								</data>
								<key>Size</key>
								<integer>19469</integer>
							</dict>
							<key>podcast_files/tag-carrie-fisher.html</key>
							<dict>
								<key>Digest</key>
								<data>
								NZjmNB6RbMjI
								Wd+TbxGkjw==
								</data>
								<key>Size</key>
								<integer>22128</integer>
							</dict>
							<key>podcast_files/tag-celebration.html</key>
							<dict>
								<key>Digest</key>
								<data>
								lqEmp/O9Ekim
								xBa7jRWo2A==
								</data>
								<key>Size</key>
								<integer>56378</integer>
							</dict>
							<key>podcast_files/tag-comics.html</key>
							<dict>
								<key>Digest</key>
								<data>
								YdeE0MDrqkrb
								KMolInSk0Q==
								</data>
								<key>Size</key>
								<integer>22683</integer>
							</dict>
							<key>podcast_files/tag-commander.html</key>
							<dict>
								<key>Digest</key>
								<data>
								2rsFrYNtbdeG
								DLuZ/3EXOQ==
								</data>
								<key>Size</key>
								<integer>19849</integer>
							</dict>
							<key>podcast_files/tag-dagobah.html</key>
							<dict>
								<key>Digest</key>
								<data>
								mrdTcNbUIk4F
								amwpXD6dqA==
								</data>
								<key>Size</key>
								<integer>20021</integer>
							</dict>
							<key>podcast_files/tag-dark-side.html</key>
							<dict>
								<key>Digest</key>
								<data>
								5waDwfD5dCZ3
								mZrQv+LSlA==
								</data>
								<key>Size</key>
								<integer>17395</integer>
							</dict>
							<key>podcast_files/tag-darth-vader.html</key>
							<dict>
								<key>Digest</key>
								<data>
								gcV4/n8MTD7G
								knU/focc7g==
								</data>
								<key>Size</key>
								<integer>51012</integer>
							</dict>
							<key>podcast_files/tag-ear-candy.html</key>
							<dict>
								<key>Digest</key>
								<data>
								MAacYhmSbKHu
								ilUnz/w79Q==
								</data>
								<key>Size</key>
								<integer>17395</integer>
							</dict>
							<key>podcast_files/tag-episode.html</key>
							<dict>
								<key>Digest</key>
								<data>
								gIbjMsDODOnI
								9kr5S55ftA==
								</data>
								<key>Size</key>
								<integer>62190</integer>
							</dict>
							<key>podcast_files/tag-film.html</key>
							<dict>
								<key>Digest</key>
								<data>
								r0gE7I7KP9Si
								RxnrofUGqg==
								</data>
								<key>Size</key>
								<integer>19839</integer>
							</dict>
							<key>podcast_files/tag-force-awakens.html</key>
							<dict>
								<key>Digest</key>
								<data>
								Nn20efceNAXo
								+AEGJxqUHA==
								</data>
								<key>Size</key>
								<integer>18385</integer>
							</dict>
							<key>podcast_files/tag-force-friday.html</key>
							<dict>
								<key>Digest</key>
								<data>
								WiHg1SJXV13b
								ZoCwddwIjw==
								</data>
								<key>Size</key>
								<integer>17768</integer>
							</dict>
							<key>podcast_files/tag-funko-pop.html</key>
							<dict>
								<key>Digest</key>
								<data>
								O+k0NVZH59zp
								uaz38WYilQ==
								</data>
								<key>Size</key>
								<integer>17395</integer>
							</dict>
							<key>podcast_files/tag-furbacca.html</key>
							<dict>
								<key>Digest</key>
								<data>
								HHTPDYFmAcD2
								SJUqmQ0F6Q==
								</data>
								<key>Size</key>
								<integer>19847</integer>
							</dict>
							<key>podcast_files/tag-galaxy.html</key>
							<dict>
								<key>Digest</key>
								<data>
								JVXPh+QBt5dI
								hQTk6GgRIQ==
								</data>
								<key>Size</key>
								<integer>25156</integer>
							</dict>
							<key>podcast_files/tag-godzilla.html</key>
							<dict>
								<key>Digest</key>
								<data>
								lD/UphVWiYCP
								SgirRJDVzw==
								</data>
								<key>Size</key>
								<integer>44754</integer>
							</dict>
							<key>podcast_files/tag-guest.html</key>
							<dict>
								<key>Digest</key>
								<data>
								vyESCOzvCpzA
								LAL2/M8kmQ==
								</data>
								<key>Size</key>
								<integer>17754</integer>
							</dict>
							<key>podcast_files/tag-han-solo.html</key>
							<dict>
								<key>Digest</key>
								<data>
								ugTrbsMTn4WQ
								flTSn0yXYQ==
								</data>
								<key>Size</key>
								<integer>21970</integer>
							</dict>
							<key>podcast_files/tag-hasbro.html</key>
							<dict>
								<key>Digest</key>
								<data>
								u/VsGKG9a4td
								bgjhZlUbBg==
								</data>
								<key>Size</key>
								<integer>31357</integer>
							</dict>
							<key>podcast_files/tag-jango-fett.html</key>
							<dict>
								<key>Digest</key>
								<data>
								FsiiPmF51+YS
								MqevBgoUIQ==
								</data>
								<key>Size</key>
								<integer>49087</integer>
							</dict>
							<key>podcast_files/tag-john-williams.html</key>
							<dict>
								<key>Digest</key>
								<data>
								M43xj86eWRfh
								+bhRUgr/DQ==
								</data>
								<key>Size</key>
								<integer>19473</integer>
							</dict>
							<key>podcast_files/tag-kenny-baker.html</key>
							<dict>
								<key>Digest</key>
								<data>
								vRrrxSYCv2zO
								5jPvvVkJ6g==
								</data>
								<key>Size</key>
								<integer>17112</integer>
							</dict>
							<key>podcast_files/tag-last-jedi.html</key>
							<dict>
								<key>Digest</key>
								<data>
								KUSiW9WbY3Z3
								YGA5uEov0g==
								</data>
								<key>Size</key>
								<integer>57091</integer>
							</dict>
							<key>podcast_files/tag-legends.html</key>
							<dict>
								<key>Digest</key>
								<data>
								T8hMtlUS/Lwd
								6wUsE/uDrg==
								</data>
								<key>Size</key>
								<integer>22861</integer>
							</dict>
							<key>podcast_files/tag-lego.html</key>
							<dict>
								<key>Digest</key>
								<data>
								/SKt5UPaH1XU
								XPWX/67Tjw==
								</data>
								<key>Size</key>
								<integer>27065</integer>
							</dict>
							<key>podcast_files/tag-lets-rip-it-a-new-one.html</key>
							<dict>
								<key>Digest</key>
								<data>
								KB4FMEKGRXbe
								quVfzZSlXw==
								</data>
								<key>Size</key>
								<integer>19292</integer>
							</dict>
							<key>podcast_files/tag-mark-hamill.html</key>
							<dict>
								<key>Digest</key>
								<data>
								TvcNxPtMTmAg
								gRQSjaoncg==
								</data>
								<key>Size</key>
								<integer>21976</integer>
							</dict>
							<key>podcast_files/tag-mike-mann.html</key>
							<dict>
								<key>Digest</key>
								<data>
								NZCF8M0SE73K
								3ruFBuHHoQ==
								</data>
								<key>Size</key>
								<integer>18295</integer>
							</dict>
							<key>podcast_files/tag-millennium-falcon.html</key>
							<dict>
								<key>Digest</key>
								<data>
								NE1egUgUPvnN
								aJpSy9+0yA==
								</data>
								<key>Size</key>
								<integer>19865</integer>
							</dict>
							<key>podcast_files/tag-movies.html</key>
							<dict>
								<key>Digest</key>
								<data>
								kCyactRChbgb
								zkRK23dTHA==
								</data>
								<key>Size</key>
								<integer>24806</integer>
							</dict>
							<key>podcast_files/tag-news-of-the-galaxy.html</key>
							<dict>
								<key>Digest</key>
								<data>
								QgqdN86K0mgA
								DUtbHima+Q==
								</data>
								<key>Size</key>
								<integer>62212</integer>
							</dict>
							<key>podcast_files/tag-news.html</key>
							<dict>
								<key>Digest</key>
								<data>
								Z8AE5fErLsP+
								fagbkhzwwA==
								</data>
								<key>Size</key>
								<integer>24942</integer>
							</dict>
							<key>podcast_files/tag-original.html</key>
							<dict>
								<key>Digest</key>
								<data>
								gi5kdNOD+av+
								riW2psaPzg==
								</data>
								<key>Size</key>
								<integer>48217</integer>
							</dict>
							<key>podcast_files/tag-palpatine.html</key>
							<dict>
								<key>Digest</key>
								<data>
								BMD8DhGvH9vk
								sHmtrh7hiA==
								</data>
								<key>Size</key>
								<integer>24952</integer>
							</dict>
							<key>podcast_files/tag-podcast.html</key>
							<dict>
								<key>Digest</key>
								<data>
								RMiTz55YoKOO
								6FcOuj+bMw==
								</data>
								<key>Size</key>
								<integer>65563</integer>
							</dict>
							<key>podcast_files/tag-porg.html</key>
							<dict>
								<key>Digest</key>
								<data>
								/qNyrKe3fDqC
								RTh/iiUJmw==
								</data>
								<key>Size</key>
								<integer>19455</integer>
							</dict>
							<key>podcast_files/tag-princess-leia.html</key>
							<dict>
								<key>Digest</key>
								<data>
								hrVRJN4UdbGZ
								k8wfMBhy/Q==
								</data>
								<key>Size</key>
								<integer>17201</integer>
							</dict>
							<key>podcast_files/tag-princess.html</key>
							<dict>
								<key>Digest</key>
								<data>
								o2CSwlqXeFmb
								ndLhGtPgdw==
								</data>
								<key>Size</key>
								<integer>18293</integer>
							</dict>
							<key>podcast_files/tag-r2d2.html</key>
							<dict>
								<key>Digest</key>
								<data>
								O25AVnZlO0GJ
								Y6XRN72KpA==
								</data>
								<key>Size</key>
								<integer>21962</integer>
							</dict>
							<key>podcast_files/tag-rebels.html</key>
							<dict>
								<key>Digest</key>
								<data>
								HuID3SxG4xed
								YPtJIhXmLA==
								</data>
								<key>Size</key>
								<integer>20642</integer>
							</dict>
							<key>podcast_files/tag-rogue-one.html</key>
							<dict>
								<key>Digest</key>
								<data>
								tOvJ8NrK7C+A
								ZTd9PfHXSg==
								</data>
								<key>Size</key>
								<integer>25427</integer>
							</dict>
							<key>podcast_files/tag-rouge-one.html</key>
							<dict>
								<key>Digest</key>
								<data>
								iLoUL9YnsYCe
								rxzYxegMew==
								</data>
								<key>Size</key>
								<integer>17762</integer>
							</dict>
							<key>podcast_files/tag-shenanigans.html</key>
							<dict>
								<key>Digest</key>
								<data>
								W75GpuGaMdP/
								rEaf2ukoiA==
								</data>
								<key>Size</key>
								<integer>18299</integer>
							</dict>
							<key>podcast_files/tag-star-wars.html</key>
							<dict>
								<key>Digest</key>
								<data>
								IEt/+A06YfA7
								L6gbqxkfbA==
								</data>
								<key>Size</key>
								<integer>90769</integer>
							</dict>
							<key>podcast_files/tag-trilogy.html</key>
							<dict>
								<key>Digest</key>
								<data>
								fkURx0+j5nss
								29Wa9nKRlw==
								</data>
								<key>Size</key>
								<integer>44752</integer>
							</dict>
							<key>podcast_files/tag-wookie.html</key>
							<dict>
								<key>Digest</key>
								<data>
								EaWbcg+llk/g
								klC9WZutyA==
								</data>
								<key>Size</key>
								<integer>17389</integer>
							</dict>
							<key>podcast_files/tag-yoda.html</key>
							<dict>
								<key>Digest</key>
								<data>
								BeC8qKc7Tbux
								U9HPT7RFIQ==
								</data>
								<key>Size</key>
								<integer>20015</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page2</string>
						<key>SiteRoot</key>
						<string></string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
