<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BannerAltText</key>
				<string>Lander theme</string>
				<key>BrowserTitle</key>
				<string>Podcasts Holocron</string>
				<key>CreatedDate</key>
				<date>2016-04-04T12:37:20Z</date>
				<key>CustomThemeName</key>
				<string>Lander</string>
				<key>ID</key>
				<string>page2</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Blogok</string>
				<key>PageTitle</key>
				<string>Episodes</string>
				<key>PluginClassName</key>
				<string>RWBlogPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Blog</string>
					<key>Version</key>
					<string>7.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>file:///Users/codebuddha/GitHub/news-of-the-galaxy/www/</key>
					<dict>
						<key>CreationDate</key>
						<date>2018-01-06T23:42:49Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>podcast.html</key>
							<dict>
								<key>Digest</key>
								<data>
								owLttpAmIJ6i
								GSuWmRT/DA==
								</data>
								<key>Size</key>
								<integer>89453</integer>
							</dict>
							<key>podcast_files/2-Solos-1-Cup.html</key>
							<dict>
								<key>Digest</key>
								<data>
								hbsfNrXT2kDI
								we7CKZGHVQ==
								</data>
								<key>Size</key>
								<integer>21262</integer>
							</dict>
							<key>podcast_files/A-Bucket-of-Awesomeness.html</key>
							<dict>
								<key>Digest</key>
								<data>
								eTRtCpAUvyVE
								+WHRdciInw==
								</data>
								<key>Size</key>
								<integer>17664</integer>
							</dict>
							<key>podcast_files/C-(MP)3PO.html</key>
							<dict>
								<key>Digest</key>
								<data>
								V+26LvlfXDZn
								wrHNfiUMoA==
								</data>
								<key>Size</key>
								<integer>17049</integer>
							</dict>
							<key>podcast_files/Captain-Kirk-is-a-Dirty-Word.html</key>
							<dict>
								<key>Digest</key>
								<data>
								keHn0JTriY2Z
								kYK2V01EDA==
								</data>
								<key>Size</key>
								<integer>16682</integer>
							</dict>
							<key>podcast_files/Finger-Licking-Good.html</key>
							<dict>
								<key>Digest</key>
								<data>
								0U9i5xdF7yPI
								i5+eo0D+nQ==
								</data>
								<key>Size</key>
								<integer>19136</integer>
							</dict>
							<key>podcast_files/Gorgonzola-King-of-the-Monsters.html</key>
							<dict>
								<key>Digest</key>
								<data>
								sCEj8NJgcAC5
								YNpUjGTn7g==
								</data>
								<key>Size</key>
								<integer>18548</integer>
							</dict>
							<key>podcast_files/Keep-Spinning-You-Goofy-Death-Star.html</key>
							<dict>
								<key>Digest</key>
								<data>
								6IXnkKJoNRgH
								aNYKkDULuw==
								</data>
								<key>Size</key>
								<integer>17912</integer>
							</dict>
							<key>podcast_files/Lets-Rip-It-A-New-One.html</key>
							<dict>
								<key>Digest</key>
								<data>
								sMReacZuUdEB
								mP1U9wTBfQ==
								</data>
								<key>Size</key>
								<integer>18556</integer>
							</dict>
							<key>podcast_files/Looking-For-Love-In-Alderaan-Places.html</key>
							<dict>
								<key>Digest</key>
								<data>
								/rm7vKbAx7oO
								IdBkE5jeoA==
								</data>
								<key>Size</key>
								<integer>16480</integer>
							</dict>
							<key>podcast_files/Meatball-Babies.html</key>
							<dict>
								<key>Digest</key>
								<data>
								ucQiT3b5uIJY
								F7TRr8NHbg==
								</data>
								<key>Size</key>
								<integer>18982</integer>
							</dict>
							<key>podcast_files/News of the Galaxy.xml</key>
							<dict>
								<key>Digest</key>
								<data>
								NgM0+8ZYuKYQ
								fdzB5g9Hkg==
								</data>
								<key>Size</key>
								<integer>49247</integer>
							</dict>
							<key>podcast_files/Not-Your-Daddys-Podcast.html</key>
							<dict>
								<key>Digest</key>
								<data>
								7v0pXxKjYlfC
								R1RFOqBtNA==
								</data>
								<key>Size</key>
								<integer>19522</integer>
							</dict>
							<key>podcast_files/Palpatines-Sip-of-the-Week.html</key>
							<dict>
								<key>Digest</key>
								<data>
								1XsFUtMo3V9e
								Zn8nIln/SA==
								</data>
								<key>Size</key>
								<integer>19314</integer>
							</dict>
							<key>podcast_files/Porg-One-Out-For-Palpatine.html</key>
							<dict>
								<key>Digest</key>
								<data>
								n0qjdzmoAL//
								9M115Id4rQ==
								</data>
								<key>Size</key>
								<integer>17757</integer>
							</dict>
							<key>podcast_files/Starring-Nick.html</key>
							<dict>
								<key>Digest</key>
								<data>
								CwKc8JtdG12K
								ZLCxmrymAg==
								</data>
								<key>Size</key>
								<integer>18539</integer>
							</dict>
							<key>podcast_files/Starting-Fires.html</key>
							<dict>
								<key>Digest</key>
								<data>
								3w94sX2ibgbR
								CIom1uRDxg==
								</data>
								<key>Size</key>
								<integer>16395</integer>
							</dict>
							<key>podcast_files/The-Emperors-New-Robes.html</key>
							<dict>
								<key>Digest</key>
								<data>
								juAw7yrNCIOB
								xSjNQ7evvQ==
								</data>
								<key>Size</key>
								<integer>17585</integer>
							</dict>
							<key>podcast_files/Theres-Indoor-and-Outdoor.html</key>
							<dict>
								<key>Digest</key>
								<data>
								UQaBNh+ZtIC7
								64v+I3RfDA==
								</data>
								<key>Size</key>
								<integer>17674</integer>
							</dict>
							<key>podcast_files/What-Did-Nick-Do-This-Time.html</key>
							<dict>
								<key>Digest</key>
								<data>
								5MBgmh7XkKba
								pP0K+Qu48A==
								</data>
								<key>Size</key>
								<integer>18027</integer>
							</dict>
							<key>podcast_files/archive-2016.html</key>
							<dict>
								<key>Digest</key>
								<data>
								CHaEYoMOYCD5
								Jbc5caNGIQ==
								</data>
								<key>Size</key>
								<integer>33656</integer>
							</dict>
							<key>podcast_files/archive-2017.html</key>
							<dict>
								<key>Digest</key>
								<data>
								4HXdC1z+kibx
								MSl3nQEYxg==
								</data>
								<key>Size</key>
								<integer>66485</integer>
							</dict>
							<key>podcast_files/category-comedy.html</key>
							<dict>
								<key>Digest</key>
								<data>
								Ezo5oSeYLeAr
								LzPBcnUPQg==
								</data>
								<key>Size</key>
								<integer>82120</integer>
							</dict>
							<key>podcast_files/category-games-0026-hobbies.html</key>
							<dict>
								<key>Digest</key>
								<data>
								iXBoL90NYb6C
								d2STF9tigw==
								</data>
								<key>Size</key>
								<integer>82138</integer>
							</dict>
							<key>podcast_files/ep13-2.png</key>
							<dict>
								<key>Digest</key>
								<data>
								QhaztK+jjHcd
								vGWLCKN+Gg==
								</data>
								<key>Size</key>
								<integer>363447</integer>
							</dict>
							<key>podcast_files/meta.js</key>
							<dict>
								<key>Digest</key>
								<data>
								PytDuSsAiU2W
								IgFonI3JgQ==
								</data>
								<key>Size</key>
								<integer>8742</integer>
							</dict>
							<key>podcast_files/podcast_channel.png</key>
							<dict>
								<key>Digest</key>
								<data>
								lzb/DnZECZJ7
								UPSDG4XBuA==
								</data>
								<key>Size</key>
								<integer>508085</integer>
							</dict>
							<key>podcast_files/tag-ahsoka.html</key>
							<dict>
								<key>Digest</key>
								<data>
								NH0KeTFMt2se
								MaoBKHBEPg==
								</data>
								<key>Size</key>
								<integer>19327</integer>
							</dict>
							<key>podcast_files/tag-alderaan.html</key>
							<dict>
								<key>Digest</key>
								<data>
								Q4G+oLNU0zgB
								F9da3AbmSA==
								</data>
								<key>Size</key>
								<integer>16675</integer>
							</dict>
							<key>podcast_files/tag-amazon.html</key>
							<dict>
								<key>Digest</key>
								<data>
								P/H9iKGK7mO1
								/3kudPqLEA==
								</data>
								<key>Size</key>
								<integer>17855</integer>
							</dict>
							<key>podcast_files/tag-asteroid-field.html</key>
							<dict>
								<key>Digest</key>
								<data>
								zyWybwbc956g
								qcwNREhddw==
								</data>
								<key>Size</key>
								<integer>48330</integer>
							</dict>
							<key>podcast_files/tag-black-series.html</key>
							<dict>
								<key>Digest</key>
								<data>
								VfCjNUBCh8J7
								ankpfDzjng==
								</data>
								<key>Size</key>
								<integer>17867</integer>
							</dict>
							<key>podcast_files/tag-books.html</key>
							<dict>
								<key>Digest</key>
								<data>
								M9ATu2pWY3e6
								EJxD6Xwy8g==
								</data>
								<key>Size</key>
								<integer>17238</integer>
							</dict>
							<key>podcast_files/tag-bounty-hunter.html</key>
							<dict>
								<key>Digest</key>
								<data>
								JIn17ubwz7kl
								MDdEFNzdmA==
								</data>
								<key>Size</key>
								<integer>48577</integer>
							</dict>
							<key>podcast_files/tag-carrie-fisher.html</key>
							<dict>
								<key>Digest</key>
								<data>
								laPFjYJg5uUs
								IQlvqhSVQA==
								</data>
								<key>Size</key>
								<integer>21612</integer>
							</dict>
							<key>podcast_files/tag-celebration.html</key>
							<dict>
								<key>Digest</key>
								<data>
								2uOGxnkb0BX3
								V+N4UxoU8A==
								</data>
								<key>Size</key>
								<integer>55862</integer>
							</dict>
							<key>podcast_files/tag-comics.html</key>
							<dict>
								<key>Digest</key>
								<data>
								v3CyJRlsqmfK
								jawqDr0G6A==
								</data>
								<key>Size</key>
								<integer>22167</integer>
							</dict>
							<key>podcast_files/tag-commander.html</key>
							<dict>
								<key>Digest</key>
								<data>
								SBG0GxmYixjq
								vOmDEPN2jg==
								</data>
								<key>Size</key>
								<integer>19333</integer>
							</dict>
							<key>podcast_files/tag-dagobah.html</key>
							<dict>
								<key>Digest</key>
								<data>
								WIy1hlQqeua8
								0TmFeoxg4g==
								</data>
								<key>Size</key>
								<integer>19505</integer>
							</dict>
							<key>podcast_files/tag-dark-side.html</key>
							<dict>
								<key>Digest</key>
								<data>
								HEvQg7qZHlMh
								6pWK234rLQ==
								</data>
								<key>Size</key>
								<integer>16879</integer>
							</dict>
							<key>podcast_files/tag-darth-vader.html</key>
							<dict>
								<key>Digest</key>
								<data>
								IkyCLFaJtK8r
								WpBYnz88pA==
								</data>
								<key>Size</key>
								<integer>45953</integer>
							</dict>
							<key>podcast_files/tag-ear-candy.html</key>
							<dict>
								<key>Digest</key>
								<data>
								aHXO8DpLv4+x
								blM1fbj2Cg==
								</data>
								<key>Size</key>
								<integer>16879</integer>
							</dict>
							<key>podcast_files/tag-episode.html</key>
							<dict>
								<key>Digest</key>
								<data>
								3FihzLyk0qwJ
								0rSVj8pFQw==
								</data>
								<key>Size</key>
								<integer>57131</integer>
							</dict>
							<key>podcast_files/tag-film.html</key>
							<dict>
								<key>Digest</key>
								<data>
								Psges0tVlg93
								it8ZrcyrcQ==
								</data>
								<key>Size</key>
								<integer>19323</integer>
							</dict>
							<key>podcast_files/tag-force-awakens.html</key>
							<dict>
								<key>Digest</key>
								<data>
								3728MY89TjCu
								i07fhJFXSg==
								</data>
								<key>Size</key>
								<integer>17869</integer>
							</dict>
							<key>podcast_files/tag-force-friday.html</key>
							<dict>
								<key>Digest</key>
								<data>
								kwZVuRIsx7zw
								izFdYpOD2g==
								</data>
								<key>Size</key>
								<integer>17252</integer>
							</dict>
							<key>podcast_files/tag-funko-pop.html</key>
							<dict>
								<key>Digest</key>
								<data>
								bmBXJpluje0D
								J/8rd511dQ==
								</data>
								<key>Size</key>
								<integer>16879</integer>
							</dict>
							<key>podcast_files/tag-furbacca.html</key>
							<dict>
								<key>Digest</key>
								<data>
								iOIq/jPeVksB
								kQBa996enQ==
								</data>
								<key>Size</key>
								<integer>19331</integer>
							</dict>
							<key>podcast_files/tag-galaxy.html</key>
							<dict>
								<key>Digest</key>
								<data>
								WJPx021t4NPl
								yq7EJKwrug==
								</data>
								<key>Size</key>
								<integer>24640</integer>
							</dict>
							<key>podcast_files/tag-godzilla.html</key>
							<dict>
								<key>Digest</key>
								<data>
								oECHEHw6SuHq
								DmqlCKZLhw==
								</data>
								<key>Size</key>
								<integer>44238</integer>
							</dict>
							<key>podcast_files/tag-guest.html</key>
							<dict>
								<key>Digest</key>
								<data>
								9y/gQDBgCyvF
								M3OLFDYBXA==
								</data>
								<key>Size</key>
								<integer>17238</integer>
							</dict>
							<key>podcast_files/tag-han-solo.html</key>
							<dict>
								<key>Digest</key>
								<data>
								CnU9Sh00l1Ol
								aKEVYsNB0g==
								</data>
								<key>Size</key>
								<integer>21454</integer>
							</dict>
							<key>podcast_files/tag-hasbro.html</key>
							<dict>
								<key>Digest</key>
								<data>
								S60lLxRd/eGT
								KylOysnSYw==
								</data>
								<key>Size</key>
								<integer>30841</integer>
							</dict>
							<key>podcast_files/tag-jango-fett.html</key>
							<dict>
								<key>Digest</key>
								<data>
								XcajzA2mhEul
								FWuTNgk6Jg==
								</data>
								<key>Size</key>
								<integer>48571</integer>
							</dict>
							<key>podcast_files/tag-kenny-baker.html</key>
							<dict>
								<key>Digest</key>
								<data>
								qZ3qi7LEcsBS
								sOsFNPmV5Q==
								</data>
								<key>Size</key>
								<integer>16596</integer>
							</dict>
							<key>podcast_files/tag-last-jedi.html</key>
							<dict>
								<key>Digest</key>
								<data>
								xj2QYg0s8e12
								b78sA55Xzw==
								</data>
								<key>Size</key>
								<integer>52032</integer>
							</dict>
							<key>podcast_files/tag-legends.html</key>
							<dict>
								<key>Digest</key>
								<data>
								hcJq/v3tZOjg
								whpNASqH7A==
								</data>
								<key>Size</key>
								<integer>22345</integer>
							</dict>
							<key>podcast_files/tag-lego.html</key>
							<dict>
								<key>Digest</key>
								<data>
								B5G6D6yip1rw
								jT/ccxgsQA==
								</data>
								<key>Size</key>
								<integer>26549</integer>
							</dict>
							<key>podcast_files/tag-lets-rip-it-a-new-one.html</key>
							<dict>
								<key>Digest</key>
								<data>
								VfTRMBAZaxFY
								Q9xY6/6VgA==
								</data>
								<key>Size</key>
								<integer>18776</integer>
							</dict>
							<key>podcast_files/tag-mark-hamill.html</key>
							<dict>
								<key>Digest</key>
								<data>
								pIcSIHxBZNf3
								ILsBQmhrig==
								</data>
								<key>Size</key>
								<integer>21460</integer>
							</dict>
							<key>podcast_files/tag-mike-mann.html</key>
							<dict>
								<key>Digest</key>
								<data>
								EL0OvcpsTRVT
								T+zycW/oaA==
								</data>
								<key>Size</key>
								<integer>17779</integer>
							</dict>
							<key>podcast_files/tag-millennium-falcon.html</key>
							<dict>
								<key>Digest</key>
								<data>
								lpPILpEgmLaN
								nLf76whhIg==
								</data>
								<key>Size</key>
								<integer>19349</integer>
							</dict>
							<key>podcast_files/tag-movies.html</key>
							<dict>
								<key>Digest</key>
								<data>
								WUv8//8il6jG
								Omks+Qbahg==
								</data>
								<key>Size</key>
								<integer>24290</integer>
							</dict>
							<key>podcast_files/tag-news-of-the-galaxy.html</key>
							<dict>
								<key>Digest</key>
								<data>
								9PxiREb3fVU4
								cFiLLahjXQ==
								</data>
								<key>Size</key>
								<integer>57153</integer>
							</dict>
							<key>podcast_files/tag-news.html</key>
							<dict>
								<key>Digest</key>
								<data>
								vig3xktY3xoA
								IOkDuqEOnw==
								</data>
								<key>Size</key>
								<integer>24426</integer>
							</dict>
							<key>podcast_files/tag-original.html</key>
							<dict>
								<key>Digest</key>
								<data>
								tb8U/NtJYD4g
								GB+gz2pxjA==
								</data>
								<key>Size</key>
								<integer>47701</integer>
							</dict>
							<key>podcast_files/tag-palpatine.html</key>
							<dict>
								<key>Digest</key>
								<data>
								2e+Tybc2xWtM
								AL6nozlYwQ==
								</data>
								<key>Size</key>
								<integer>24436</integer>
							</dict>
							<key>podcast_files/tag-podcast.html</key>
							<dict>
								<key>Digest</key>
								<data>
								S/q82TyiuTyG
								43nKepEFtg==
								</data>
								<key>Size</key>
								<integer>60504</integer>
							</dict>
							<key>podcast_files/tag-princess-leia.html</key>
							<dict>
								<key>Digest</key>
								<data>
								fphrAdft4X2b
								89c1DpzaNg==
								</data>
								<key>Size</key>
								<integer>16685</integer>
							</dict>
							<key>podcast_files/tag-princess.html</key>
							<dict>
								<key>Digest</key>
								<data>
								7ymDjOO06pqq
								QP9uRUEOaQ==
								</data>
								<key>Size</key>
								<integer>17777</integer>
							</dict>
							<key>podcast_files/tag-r2d2.html</key>
							<dict>
								<key>Digest</key>
								<data>
								QYhPwER7nTwj
								xVfRh64vEQ==
								</data>
								<key>Size</key>
								<integer>21446</integer>
							</dict>
							<key>podcast_files/tag-rebels.html</key>
							<dict>
								<key>Digest</key>
								<data>
								Jxjxs0uz0bq8
								4OkHfaPH7g==
								</data>
								<key>Size</key>
								<integer>20126</integer>
							</dict>
							<key>podcast_files/tag-rogue-one.html</key>
							<dict>
								<key>Digest</key>
								<data>
								aiG3ZdScs6yl
								dT6pChdLVA==
								</data>
								<key>Size</key>
								<integer>24911</integer>
							</dict>
							<key>podcast_files/tag-rouge-one.html</key>
							<dict>
								<key>Digest</key>
								<data>
								QRpqnguz2hpr
								Mj6ReDVlAw==
								</data>
								<key>Size</key>
								<integer>17246</integer>
							</dict>
							<key>podcast_files/tag-shenanigans.html</key>
							<dict>
								<key>Digest</key>
								<data>
								dqkf08JwjcSE
								Q7rJbckvcQ==
								</data>
								<key>Size</key>
								<integer>17783</integer>
							</dict>
							<key>podcast_files/tag-star-wars.html</key>
							<dict>
								<key>Digest</key>
								<data>
								9lfaBtIujKsP
								y21dYj6c6A==
								</data>
								<key>Size</key>
								<integer>85710</integer>
							</dict>
							<key>podcast_files/tag-trilogy.html</key>
							<dict>
								<key>Digest</key>
								<data>
								9/4NhFdOlQj3
								9HJx2eziSA==
								</data>
								<key>Size</key>
								<integer>44236</integer>
							</dict>
							<key>podcast_files/tag-wookie.html</key>
							<dict>
								<key>Digest</key>
								<data>
								qse4mbdvs7Ta
								K0v4Ahmaww==
								</data>
								<key>Size</key>
								<integer>16873</integer>
							</dict>
							<key>podcast_files/tag-yoda.html</key>
							<dict>
								<key>Digest</key>
								<data>
								t8ssGJR1B9ah
								7TZjYCaJcQ==
								</data>
								<key>Size</key>
								<integer>19499</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page2</string>
						<key>SiteRoot</key>
						<string></string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
